---
layout: guide
title: Compendium checklist
game: zelda_botw
section: compendium
metadata:
  last_updated: 04-15-2025
---

<h2>Compendium</h2>
<p>Take a photo of each entry.</p>

<h3>Bestiary</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.bestiary %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Creatures</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.creatures %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Materials</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.materials %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Weapons</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.weapons %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Treasure</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.treasure %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>