---
layout: guide
title: 📸 Compendium
game: zelda_botw
section: compendium
metadata:
  last_updated: 04-15-2025
---

<p>Take a photo of each entry. You only need to take a single photo.</p>

<details>
  <summary>Enemies (Bestiary)</summary>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.bestiary %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>
</details>

<details>
  <summary>Critters / Animals (Creatures)</summary>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.creatures %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>
</details>

<details>
<summary>Materials</summary>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.materials %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>
</details>

<details>
<summary>Weapons, Shields, Bows</summary>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.weapons %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>
</details>

<details>
<summary>Treasure</summary>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.treasure %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>
</details>