---
layout: guide
title: Gear checklist
game: zelda_botw
section: gear
metadata:
  last_updated: 04-05-2025
---

<h2>Base Game</h2>

{% include zelda/full_gear_list.html set="ancient" %}
{% include zelda/full_gear_list.html set="barbarian" %}
{% include zelda/full_gear_list.html set="climber" %}
{% include zelda/full_gear_list.html set="flamebreaker" %}
{% include zelda/full_gear_list.html set="hylian" %}
{% include zelda/full_gear_list.html set="desert_voe" %}
{% include zelda/full_gear_list.html set="radiant" %}
{% include zelda/full_gear_list.html set="rubber" %}
{% include zelda/full_gear_list.html set="snowquill" %}
{% include zelda/full_gear_list.html set="soldier" %}
{% include zelda/full_gear_list.html set="champion" %}
{% include zelda/full_gear_list.html set="stealth" %}
{% include zelda/full_gear_list.html set="wild" %}
{% include zelda/full_gear_list.html set="zora" %}

{% include zelda/full_gear_list.html set="jewelry" %}
{% include zelda/full_gear_list.html set="divine_beast" %}

{% assign gear = site.data.zelda_botw['gear'] %}

<h3>Special</h3>
<p>These items are awarded through quests or found, and are not upgradeable, with the exception of the Champion's Tunic.</p>

<ul>
  <li>{% include zelda/gear.html set="special" part="thunder_helm" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="starter_clothes" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="gerudo_set" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="sand_boots" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="snow_boots" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="warm_doublet" index="acquired" %}</li>
</ul>

<h3>Kilton Gear</h3>
These items are purchased from Kilton at the Fang and Bone, using his Mon currency. They cannot be upgraded by Great Fairies.

<ul>
  <li>{% include zelda/gear.html set="kilton" part="dark_hood" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="dark_tunic" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="dark_trousers" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="bokoblin_mask" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="lizalfos_mask" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="moblin_mask" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="lynel_mask" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="monster_bridle" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="kilton" part="monster_saddle" index="acquired" %}</li>
</ul>

<h2>Expansion Content</h2>

<h3>Free DLC</h3>
<p>These require Free DLC to activate.</p>
<ul>
  <li>{% include zelda/gear.html set="free_dlc" part="nintendo_switch_shirt" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="free_dlc" part="salvager_headwear" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="free_dlc" part="salvager_vest" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="free_dlc" part="salvager_trousers" index="acquired" %}</li>
</ul>

<h3>Amiibo sets</h3>
<p>These require specific amiibo to activate. When scanned, a chest appears at Link's feet.</p>
<ul>
  <li>{% include zelda/gear.html set="amiibo" part="time" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="amiibo" part="hero" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="amiibo" part="twilight" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="amiibo" part="sky" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="amiibo" part="wind" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="amiibo" part="fierce_deity" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="amiibo" part="sheik" index="acquired" %}</li>
</ul>

<h3>Master Trials DLC</h3>
<p>Requires the Master Trials DLC. Special functional gear that are not upgradeable. Each item requires a triggering action (reading a book) to start the quest.</p>
<ul>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="korok_mask" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="travel_medallion" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="majoras_mask" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="midnas_helmet" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="phantom_helmet" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="phantom_armor" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="phantom_greaves" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="tingles_hood" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="tingles_shirt" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="master_trials_dlc" part="tingles_tights" index="acquired" %}</li>
</ul>

<h3>Champion's Ballad DLC</h3>
<p>Requires the Champion's Ballad DLC. Special functional gear that are not upgradeable. Each item requires a triggering action (reading a book) to start the quest.</p>
<ul>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="ancient_bridle" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="ancient_saddle" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="royal_guard_cap" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="royal_guard_uniform" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="royal_guard_boots" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="island_lobster_shirt" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="phantom_ganon_skull" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="phantom_ganon_armor" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="phantom_ganon_greaves" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="ravios_hood" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="champions_ballad_dlc" part="zants_helmet" index="acquired" %}</li>
