---
layout: guide
title: 📍 Locations
game: zelda_botw
section: locations
metadata:
  last_updated: 04-15-2025
---

<p>As you discover each location, mark it on the list. (You may need to back fill if you've already started</p>

{% assign locations = site.data.zelda_botw.locations %}

{% for tower_region in locations %}
<details>
<summary>{{ tower_region[0] | replace: "_", " " | capitalize }} Region</summary>

{% for segment in tower_region[1] %}
<h4>{{ segment[0] }}</h4>
  <ol class="collapsed">
  {% for location in segment[1] %}
    {% assign region = tower_region[0] %}
    {% assign location = location[0] %}
    {% assign name = location[1] %}

    <li>{% include zelda/location.html region=region location=location name=name %}</li>
  {% endfor %}
</ol>
{% endfor %}
</details>
{% endfor %}

