---
layout: guide
title: Shrines checklist
game: zelda_botw
section: shrines
metadata:
  last_updated: 04-14-2025
---

<fieldset><legend>Legend</legend>
<ul class="shrines">
  <li>&nbsp;&nbsp;<span class="puzzle">Puzzle Shrine</span></li>
  <li>&nbsp;&nbsp;<span class="outdoor">Chest & Orb only (Outdoor tasks)</span></li>
  <li>&nbsp;&nbsp;<span class="combat">Test of Strength (Guardian Fight))</span></li>
</ul>
</fieldset>

{% for tower_area in site.data.zelda_botw.shrines %}
  <h3>{{ tower_area[0] }} Area</h3>
  <ol class="shrines">
    {% for shrine in tower_area[1] %}
    <li>
      {% assign key = shrine[0] %}
      {% assign shrine_data = shrine[1] %}
      {% include zelda/shrine.html target=key shrine=shrine_data %}
    </li>
    {% endfor %}
  </ol>
{% endfor %}
