---
layout: guide
title: ⛩ Shrines
game: zelda_botw
section: shrines
metadata:
  last_updated: 04-14-2025
---

<p>Each shrine must be discovered, then completed. Once you've discovered it, this page will reveal the treasure chests that are within the shrine. To get completion credit you'll need to take the contents of those chests.</p>

<fieldset><legend>Legend</legend>
  <dl class="shrines" id="swatches">
    <dt class="puzzle">&nbsp;&nbsp;</dt>
    <dd>Puzzle Shrine</dd>

    <dt class="outdoor">&nbsp;&nbsp;</dt>
    <dd>Chest & Orb only (Outdoor tasks)</dd>

    <dt class="combat">&nbsp;&nbsp;</dt>
    <dd>Test of Strength (Guardian Fight))</dd>
  </dl>
</fieldset>

{% for tower_area in site.data.zelda_botw.shrines %}
  <h3>{{ tower_area[0] }} Area</h3>
  <ol class="shrines">
    {% for shrine in tower_area[1] %}
    <li>
      {% assign key = shrine[0] %}
      {% assign shrine_data = shrine[1] %}
      {% include zelda/shrine.html target=key shrine=shrine_data %}
    </li>
    {% endfor %}
  </ol>
{% endfor %}
