---
layout: guide
title: 🗼 Towers
game: zelda_botw
section: towers
metadata:
  last_updated: 04-05-2025
---

<p>As you activate each tower, mark it on the list.</p>

<ol class="collapsed">
  {% for tower in site.data.zelda_botw.towers %}
    {% assign key = tower[0] %}
    {%  assign name = site.data.zelda_botw['towers'][key]['name'] %}
    {% assign location = site.data.zelda_botw['towers'][key]['location'] %}

    <li>{% include findable.html set="towers" target=key name=name location=location %}</li>
  {% endfor %}
</ol>