---
layout: default
title: Home
---

<div id="home">
  <ul class="posts">
    {% for post in paginator.posts %}
    <li data-category="{{ post.category }}" data-layout="{{ post.layout }}" itemscope itemtype="http://schema.org/BlogPosting">
      <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">
        {% if post.post_image %}
        <div class="p-wrap" style="background: url('/assets/img/post_images/{{ post.post_image }}') center center">
        {% else %}
        <div class="p-wrap">
        {% endif %}
          <span class="year rotate">{{ post.date | date: '%Y' }}</span>
          <article class="inner">
            <time datetime="{{ post.date | date_to_xmlschema }}"
                itemprop="datePublished" class="icon">
                <span class="day">{{ post.date | date: '%d' }}</span>
                <span class="month">{{ post.date | date: '%b' }}</span>
            </time>
            <p itemprop="name headline">
              {{ post.title }}
              {% if post.series %}
                <br /><span class="series">Series: <em>{{ post.series }}</em></span>
              {% endif %}
            </p>
          </article>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
  <a href="{{ site.baseurl }}/page/{{paginator.next_page}}" class="older">Older</a>
  {% else %}
  <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="{{ site.baseurl }}/" class="newer">Newer</a>
    {% else %}
    <a href="{{ site.baseurl }}/page/{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
  <span class="previous">Newer</span>
  {% endif %}
</div>
{% endif %}
