---
layout: guide
title: 📸 Compendium
game: zelda_totk
section: compendium
metadata:
  last_updated: 05-09-2025
---

<p>Take a photo of each entry. You only need to take a single photo.</p>

<h3>Enemies (Bestiary)</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.bestiary %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Critters / Animals (Creatures)</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.creatures %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Materials</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.materials %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Weapons, Shields, Bows</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.weapons %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>

<h3>Treasure</h3>
<ol class="compendium collapsed">
{% for entry in site.data.zelda_botw.compendium.treasure %}
  {% assign index = entry[0] %}
  {% assign name = entry[1] %}
  <li>{% include zelda/compendium.html set="bestiary" name=name index=index %}</li>
{% endfor %}
</ol>