---
layout: guide
title: 🎒 Gear
game: zelda_totk
section: gear
metadata:
  last_updated: 07-05-2025
published: true
---

<p>Discover / acquire each item. Then upgrade it at Great Fairy Fountains.</p>

<h2>Base Game</h2>

{% include zelda/full_gear_list.html set="ancient_hero" %}
{% include zelda/full_gear_list.html set="archaic_set" %}
{% include zelda/full_gear_list.html set="armor_of_awakening" %}
{% include zelda/full_gear_list.html set="armor_of_the_hero" %}
{% include zelda/full_gear_list.html set="armor_of_the_sky" %}
{% include zelda/full_gear_list.html set="armor_of_the_wilds" %}
{% include zelda/full_gear_list.html set="armor_of_the_wind" %}
{% include zelda/full_gear_list.html set="armor_of_time" %}
{% include zelda/full_gear_list.html set="armor_of_twilight" %}
{% include zelda/full_gear_list.html set="barbarian" %}
{% include zelda/full_gear_list.html set="charged" %}
{% include zelda/full_gear_list.html set="climbers" %}
{% include zelda/full_gear_list.html set="dark" %}
{% include zelda/full_gear_list.html set="depths" %}
{% include zelda/full_gear_list.html set="desert_voe" %}
{% include zelda/full_gear_list.html set="ember" %}
{% include zelda/full_gear_list.html set="evil_spirit" %}
{% include zelda/full_gear_list.html set="fierce_deity" %}
{% include zelda/full_gear_list.html set="flamebreaker" %}
{% include zelda/full_gear_list.html set="froggy" %}
{% include zelda/full_gear_list.html set="frostbite" %}
{% include zelda/full_gear_list.html set="glider" %}
{% include zelda/full_gear_list.html set="hylian" %}
{% include zelda/full_gear_list.html set="miners" %}
{% include zelda/full_gear_list.html set="mystic" %}
{% include zelda/full_gear_list.html set="phantom" %}
{% include zelda/full_gear_list.html set="radiant" %}
{% include zelda/full_gear_list.html set="royal_guard" %}
{% include zelda/full_gear_list.html set="rubber" %}
{% include zelda/full_gear_list.html set="snowquill" %}
{% include zelda/full_gear_list.html set="soldiers" %}
{% include zelda/full_gear_list.html set="stealth" %}
{% include zelda/full_gear_list.html set="tingle" %}
{% include zelda/full_gear_list.html set="yiga_armor" %}
{% include zelda/full_gear_list.html set="zonaite" %}
{% include zelda/full_gear_list.html set="zora" %}


<h3>Special</h3>
<p>These items are awarded through quests or found, and are not upgradeable.</p>

<ul>
  <li>{% include zelda/gear.html set="special" part="majora" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="korok" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="special" part="ravio" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="special" part="zant" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="special" part="midna" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="special" part="lightning_helm" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="special" part="cece" index="acquired" %}</li>  

<h3>Jewelry</h3>
  <li>{% include zelda/gear.html set="jewelry" part="hair_band" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="jewelry" part="amber_earrings" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="jewelry" part="opal_earrings" index="acquired" %}</li><li>{% include zelda/gear.html set="jewelry" part="topaz_earrings" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="jewelry" part="sapphire_circlet" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="jewelry" part="ruby_circlet" index="acquired" %}</li>
  <li>{% include zelda/gear.html set="jewelry" part="diamond_circlet" index="acquired" %}</li>

<h3>Divine Helms</h3>
<ul>
  <li>{% include zelda/gear.html set="divine_helm" part="vah_medoh" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="divine_helm" part="vah_rudania" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="divine_helm" part="vah_ruta" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="divine_helm" part="vah_naboris" index="acquired" %}</li>  
</ul>

<h3>Kilton Gear</h3>
These items are purchased from Kilton at the Fang and Bone, using his Mon currency. They cannot be upgraded by Great Fairies.

<ul>
<li>{% include zelda/gear.html set="kilton" part="lynel" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="kilton" part="lizalfos" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="kilton" part="moblin" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="kilton" part="horriblin" index="acquired" %}</li>  
  <li>{% include zelda/gear.html set="kilton" part="bokoblin" index="acquired" %}</li>  
</ul>

