---
layout: guide
title: ⛩ Shrines
game: zelda_totk
section: shrines
metadata:
  last_updated: 05-09-2025
---

<p>Each shrine must be discovered, then completed. Once you've discovered it, this page will reveal the treasure chests that are within the shrine. To get completion credit you'll need to take the contents of those chests.</p>

<fieldset><legend>Legend</legend>
  <dl class="shrines" id="swatches">
    <dt class="puzzle">&nbsp;&nbsp;</dt>
    <dd>Puzzle Shrine</dd>

    <dt class="outdoor">&nbsp;&nbsp;</dt>
    <dd>Solve an Outdoor tasks</dd>

    <dt class="crystal">&nbsp;&nbsp;</dt>
    <dd>Carry a crystal to the shrine</dd>

    <dt class="combat">&nbsp;&nbsp;</dt>
    <dd>Proving Grounds (Clear fights))</dd>
  </dl>
</fieldset>

<h3>Sky</h3>
{% for tower_area in site.data.zelda_totk.shrines.sky %}
  <h3>{{ tower_area[0] | capitalize }} Area</h3>
  <ol class="shrines">
    {% for shrine in tower_area[1] %}
    <li>
      {% assign key = shrine[0] %}
      {% assign shrine_data = shrine[1] %}
      {% include zelda/shrine.html target=key shrine=shrine_data %}
    </li>
    {% endfor %}
  </ol>
{% endfor %}

<h4>Sage's Will</h4>
<ol class="shrines">
  {% for shrine in site.data.zelda_totk.sages_will %}
  <li>
    {% assign key = shrine[0] %}
    {% assign shrine_data = shrine[1] %}
    {% include zelda/shrine.html target=key shrine=shrine_data %}
  </li>
  {% endfor %}
</ol>


<h3>Surface</h3>
{% for tower_area in site.data.zelda_totk.shrines.surface %}
  <h3>{{ tower_area[0] | capitalize }} Area</h3>
  <ol class="shrines">
    {% for shrine in tower_area[1] %}
    <li>
      {% assign key = shrine[0] %}
      {% assign shrine_data = shrine[1] %}
      {% include zelda/shrine.html target=key shrine=shrine_data %}
    </li>
    {% endfor %}
  </ol>
{% endfor %}
