---
layout: guide
title: "Zelda: Breath of the Wild"
game: zelda_botw
metadata:
  last_updated: 04-04-2025
---

<p> Palette reference:</p>

<span class="c" style="background-color: var(--color-hunter-green)"></span>
<span class="c" style="background-color: var(--color-gray-dark)"></span>
<span class="c" style="background-color: var(--color-slate-blue)"></span>
<span class="c" style="background-color: var(--color-mint-green)"></span>
<span class="c" style="background-color: var(--color-cream)"></span>
<span class="c" style="background-color: var(--color-rust)"></span>
<span class="c" style="background-color: var(--color-cheese)"></span>
<span class="c" style="background-color: var(--color-taupe)"></span>
<span class="c" style="background-color: var(--color-gray)"></span>
<span class="c" style="background-color: var(--color-dark-slate)"></span>

<h2>Towers</h2>

<ol class="collapsed">
  <li><label for="towers_hebra"><input id="towers_hebra" type="checkbox" name="towers[hebra]" /> Hebra Tower</label></li>
  <li><label for="towers_woodland"><input id="towers_woodland" type="checkbox" name="towers[woodland]" /> Woodland Tower</label></li>
  <li><label for="towers_eldin"><input id="towers_eldin" type="checkbox" name="towers[eldin]" /> Eldin Tower</label></li>
  <li><label for="towers_akkala"><input id="towers_akkala" type="checkbox" name="towers[akkala]" /> Akkala Tower</label></li>
  <li><label for="towers_tabantha"><input id="towers_tabantha" type="checkbox" name="towers[tabantha]" /> Tabantha Tower</label></li>
  <li><label for="towers_ridgeland"><input id="towers_ridgeland" type="checkbox" name="towers[ridgeland]" /> Ridgeland Tower</label></li>
  <li><label for="towers_central"><input id="towers_central" type="checkbox" name="towers[central]" /> Central Tower</label></li>
  <li><label for="towers_lanaryu"><input id="towers_lanaryu" type="checkbox" name="towers[lanaryu]" /> Lanayru Tower</label></li>
  <li><label for="towers_gerudo"><input id="towers_gerudo" type="checkbox" name="towers[gerudo]" /> Gerudo Tower</label></li>
  <li><label for="towers_great_plateau"><input id="towers_great_plateau" type="checkbox" name="towers[great_plateau]" /> Great Plateau Tower</label></li>
  <li><label for="towers_dueling_peaks"><input id="towers_dueling_peaks" type="checkbox" name="towers[dueling_peaks]" /> Dueling Peaks Tower</label></li>
  <li><label for="towers_hateno"><input id="towers_hateno" type="checkbox" name="towers[hateno]" /> Hateno Tower</label></li>
  <li><label for="towers_wasteland"><input id="towers_wasteland" type="checkbox" name="towers[wasteland]" /> Wasteland Tower</label></li>
  <li><label for="towers_lake"><input id="towers_lake" type="checkbox" name="towers[lake]" />Lake Tower</label></li>
  <li><label for="towers_faron"><input id="towers_faron" type="checkbox" name="towers[faron]" /> Faron Tower</label></li>
</ol>

<h2>Great Fairy Fountains</h2>

<ul>
  <li>Kaysa's Great Fairy Fountain - Near Tabantha Tower
    <ol class="levels">
      <li><label for="great_fairy_fountains_kaysa_0" class="cached"><input id="great_fairy_fountains_kaysa_0" type="radio" name="great_fairy_fountains[kaysa]" checked="true" />↩️</label></li>
      <li><label for="great_fairy_fountains_kaysa_1"><input id="great_fairy_fountains_kaysa_1" type="radio" name="great_fairy_fountains[kaysa]" value="1" /> &#9670; 100</label></li>
      <li><label for="great_fairy_fountains_kaysa_2"><input id="great_fairy_fountains_kaysa_2" type="radio" name="great_fairy_fountains[kaysa]" value="2" /> &#9670; 500</label></li>
      <li><label for="great_fairy_fountains_kaysa_3"><input id="great_fairy_fountains_kaysa_3" type="radio" name="great_fairy_fountains[kaysa]" value="3" /> &#9670; 1,000</label></li>
      <li><label for="great_fairy_fountains_kaysa_4"><input id="great_fairy_fountains_kaysa_4" type="radio" name="great_fairy_fountains[kaysa]" value="4" /> &#9670; 10,000</label></li>
    </ol>
  </li>
  <li>Mija's Great Fairy Fountain - East of Akkala Tower
    <ol class="levels">
      <li><label for="great_fairy_fountains_mija_0" class="cached"><input id="great_fairy_fountains_mija_0" type="radio" name="great_fairy_fountains[mija]" checked="true" />🌟</label></li>
      <li><label for="great_fairy_fountains_mija_1"><input id="great_fairy_fountains_mija_1" type="radio" name="great_fairy_fountains[mija]" value="1" /> &#9670; 100</label></li>
      <li><label for="great_fairy_fountains_mija_2"><input id="great_fairy_fountains_mija_2" type="radio" name="great_fairy_fountains[mija]" value="2" /> &#9670; 500</label></li>
      <li><label for="great_fairy_fountains_mija_3"><input id="great_fairy_fountains_mija_3" type="radio" name="great_fairy_fountains[mija]" value="3" /> &#9670; 1,000</label></li>
      <li><label for="great_fairy_fountains_mija_4"><input id="great_fairy_fountains_mija_4" type="radio" name="great_fairy_fountains[mija]" value="4" /> &#9670; 10,000</label></li>
    </ol>
  </li>
  <li>Tera's Great Fairy Fountain - North of Kakariko Village
    <ol class="levels">
      <li><label for="great_fairy_fountains_tera_0" class="cached"><input id="great_fairy_fountains_tera_0" type="radio" name="great_fairy_fountains[tera]" checked="true" />🌟</label></li>
      <li><label for="great_fairy_fountains_tera_1"><input id="great_fairy_fountains_tera_1" type="radio" name="great_fairy_fountains[tera]" value="1" /> &#9670; 100</label></li>
      <li><label for="great_fairy_fountains_tera_2"><input id="great_fairy_fountains_tera_2" type="radio" name="great_fairy_fountains[tera]" value="2" /> &#9670; 500</label></li>
      <li><label for="great_fairy_fountains_tera_3"><input id="great_fairy_fountains_tera_3" type="radio" name="great_fairy_fountains[tera]" value="3" /> &#9670; 1,000</label></li>
      <li><label for="great_fairy_fountains_tera_4"><input id="great_fairy_fountains_tera_4" type="radio" name="great_fairy_fountains[tera]" value="4" /> &#9670; 10,000</label></li>
    </ol>
  </li>
  <li>Cotera's Great Fairy Fountain - Southwest of Gerudo Town
    <ol class="levels">
      <li><label for="great_fairy_fountains_cotera_0" class="cached"><input id="great_fairy_fountains_cotera_0" type="radio" name="great_fairy_fountains[cotera]" checked="true" />🌟</label></li>
      <li><label for="great_fairy_fountains_cotera_1"><input id="great_fairy_fountains_cotera_1" type="radio" name="great_fairy_fountains[cotera]" value="1" /> &#9670; 100</label></li>
      <li><label for="great_fairy_fountains_cotera_2"><input id="great_fairy_fountains_cotera_2" type="radio" name="great_fairy_fountains[cotera]" value="2" /> &#9670; 500</label></li>
      <li><label for="great_fairy_fountains_cotera_3"><input id="great_fairy_fountains_cotera_3" type="radio" name="great_fairy_fountains[cotera]" value="3" /> &#9670; 1,000</label></li>
      <li><label for="great_fairy_fountains_cotera_4"><input id="great_fairy_fountains_cotera_4" type="radio" name="great_fairy_fountains[cotera]" value="4" /> &#9670; 10,000</label></li>
    </ol>
  </li>
  <li>Malanya's Great (Horse) Fairy Fountain - near Lake Hylia
    <ol class="levels">
      <li><label for="great_fairy_fountains_god_of_horses_0" class="cached"><input id="great_fairy_fountains_god_of_horses_0" type="radio" name="great_fairy_fountains[god_of_horses]" checked="true" />🌟</label></li>
      <li><label for="great_fairy_fountains_god_of_horses_1"><input id="great_fairy_fountains_god_of_horses_1" type="radio" name="great_fairy_fountains[god_of_horses]" value="1" /> &#9670; 1,000</label></li>
    </ol>
  </li>
</ul>

<h2>Equipment Upgrades</h2>

{% assign item_set = site.data.zelda_botw['gear']['ancient'] %}

<h3> {{ item_set['name'] }} </h3>

<p>
{% if item_set['location'] %}
Location: {{ item_set['location'] }}<br />
{% endif %}

{% if item_set['note'] %}
Note: {{ item_set['note'] }}
{% endif %}
</p>

<ul class="gear">
  <li>
    <ol class="levels">
      <li><label for="gear_ancient_helm_none"><input id="gear_ancient_helm_none" type="radio" name="gear[ancient][head]" checked="true" />clear</label></li>
      <li>{% include zelda/gear.html set="ancient" part="head" index="acquired" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="head" index="1" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="head" index="2" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="head" index="3" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="head" index="4" %}</li>
    </ol>
  </li>
  <li>
    <ol class="levels">
      <li><label for="gear_ancient_body_none"><input id="gear_ancient_body_none" type="radio" name="gear[ancient][body]" checked="true" />clear</label></li>
      <li>{% include zelda/gear.html set="ancient" part="body" index="acquired" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="body" index="1" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="body" index="2" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="body" index="3" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="body" index="4" %}</li>
    </ol>
  </li>
  <li>
    <ol class="levels">
      <li><label for="gear_ancient_legs_none"><input id="gear_ancient_legs_none" type="radio" name="gear[ancient][legs]" checked="true" />clear</label></li>
      <li>{% include zelda/gear.html set="ancient" part="legs" index="acquired" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="legs" index="1" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="legs" index="2" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="legs" index="3" %}</li>
      <li>{% include zelda/gear.html set="ancient" part="legs" index="4" %}</li>
    </ol>
  </li>
</ul>

<h3>Barbarian Set</h3>

<ul class="gear">
  <li>
    <ol class="levels">
      <li><label for="gear_barbarian_head_none"><input id="gear_barbarian_head_none" type="radio" name="gear[barbarian][head]" checked="true" />clear</label></li>
      <li>{% include zelda/gear.html set="barbarian" part="head" index="acquired" %}</li>
      <li>{% include zelda/gear.html set="barbarian" part="head" index="1" %}</li>
      <li>{% include zelda/gear.html set="barbarian" part="head" index="2" %}</li>
      <li>{% include zelda/gear.html set="barbarian" part="head" index="3" %}</li>
      <li>{% include zelda/gear.html set="barbarian" part="head" index="4" %}</li>
    </ol>    
  </li>
  <li>
    <ol class="levels">
      <li><label for="gear_barbarian_armor_none"><input id="gear_barbarian_armor_none" type="radio" name="gear[barbarian][armor]" checked="true" />🌟</label></li>
      <li><label for="gear_barbarian_armor_0">
        <input id="gear_barbarian_armor_0" type="radio" name="gear[barbarian][armor]" value="0" />
        Barbarian Armor
        <ul class="hide-after-complete">
          <li>South Lomei Labyrinth (E of Gerudo Desert)</li>
        </ul></label></li>
      <li><label for="gear_barbarian_armor_1">
        <input id="gear_barbarian_armor_1" type="radio" name="gear[barbarian][armor]" value="1" />
        &#9733;
        <ul class="hide-after-complete">
          <li>1 Lynel Horn</li>
        </ul></label></li>
      <li><label for="gear_barbarian_armor_2">
        <input id="gear_barbarian_armor_2" type="radio" name="gear[barbarian][armor]" value="2" />
        &#9733;&#9733;
        <ul class="hide-after-complete">
          <li>3 Lynel Horn</li>
          <li>2 Lynel Hoof</li>
        </ul></label></li>
      <li><label for="gear_barbarian_armor_3">
        <input id="gear_barbarian_armor_3" type="radio" name="gear[barbarian][armor]" value="3" />
        &#9733;&#9733;&#9733;
        <ul class="hide-after-complete">
          <li>4 Lynel Hoof</li>
          <li>1 Lynel Guts</li>
        </ul></label></li>
      <li><label for="gear_barbarian_armor_4">
        <input id="gear_barbarian_armor_4" type="radio" name="gear[barbarian][armor]" value="4" />
        &#9733;&#9733;&#9733;&#9733;
        <ul class="hide-after-complete">
          <li>2 Lynel Guts</li>
          <li>1 Shard of Farosh's Horn</li>
        </ul></label></li>
    </ol>
  </li>
  <li>
    <ol class="levels">
      <li><label for="gear_barbarian_leg_wraps_none"><input id="gear_barbarian_leg_wraps_none" type="radio" name="gear[barbarian][leg_wraps]" checked="true" />🌟</label></li>
      <li><label for="gear_barbarian_leg_wraps_0">
        <input id="gear_barbarian_leg_wraps_0" type="radio" name="gear[barbarian][leg_wraps]" value="0" />
        Barbarian Leg Wraps
        <ul class="hide-after-complete">
          <li>North Lomei Labyrinth (NE of Tabantha Tundra)</li>
        </ul></label></li>
      <li><label for="gear_barbarian_leg_wraps_1">
        <input id="gear_barbarian_leg_wraps_1" type="radio" name="gear[barbarian][leg_wraps]" value="1" />
        &#9733;
        <ul class="hide-after-complete">
          <li>1 Lynel Horn</li>
        </ul></label></li>
      <li><label for="gear_barbarian_leg_wraps_2">
        <input id="gear_barbarian_leg_wraps_2" type="radio" name="gear[barbarian][leg_wraps]" value="2" />
        &#9733;&#9733;
        <ul class="hide-after-complete">
          <li>3 Lynel Horn</li>
          <li>2 Lynel Hoof</li>
        </ul></label></li>
      <li><label for="gear_barbarian_leg_wraps_3">
        <input id="gear_barbarian_leg_wraps_3" type="radio" name="gear[barbarian][leg_wraps]" value="3" />
        &#9733;&#9733;&#9733;
        <ul class="hide-after-complete">
          <li>4 Lynel Hoof</li>
          <li>1 Lynel Guts</li>
        </ul></label></li>
      <li><label for="gear_barbarian_leg_wraps_4">
        <input id="gear_barbarian_leg_wraps_4" type="radio" name="gear[barbarian][leg_wraps]" value="4" />
        &#9733;&#9733;&#9733;&#9733;
        <ul class="hide-after-complete">
          <li>2 Lynel Guts</li>
          <li>1 Shard of Naydra's Horn</li>
        </ul></label></li>
    </ol>
  </li>
</ul>

### Climber's Set
These items are found in various shrines at different locations.

| <input type="checkbox" /> | **Climber's Bandanna** | Found in the shrine between the Dueling Peaks |
| <input type="checkbox" /> | &#9733;        | 3 Keese Wing, 3 Rushroom |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Electric Keese Wing, 5 Hightail Lizard |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ice Keese Wing, 10 Hot-footed Frog |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 5 Fire Keese Wing, 15 Swift Violet |

| <input type="checkbox" /> | **Climbing Gear** | Found in the shrine on Tenoko Island (south of Hateno Ancient Tech Lab) |
| <input type="checkbox" /> | &#9733;        | 3 Keese Wing, 3 Rushroom |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Electric Keese Wing, 5 Hightail Lizard |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ice Keese Wing, 10 Hot-footed Frog |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 5 Fire Keese Wing, 15 Swift Violet |

| <input type="checkbox" /> | **Climbing Boots** | Found in a hidden shrine on Mount Lanaryu found when completing "Secret of the Cedars" |
| <input type="checkbox" /> | &#9733;        | 3 Keese Wing, 3 Rushroom |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Electric Keese Wing, 5 Hightail Lizard |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ice Keese Wing, 10 Hot-footed Frog |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 5 Fire Keese Wing, 15 Swift Violet |


### Desert Voe Set
These items are purchaseable at the Gerudo Secret Club (GSC&#9670; ) in Gerudo.

| <input type="checkbox" /> | **Desert Voe Headband** | &#9670; 450 |
| <input type="checkbox" /> | &#9733;        | 3 White Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 White Chuchu Jelly, 3 Ice Keese Wing |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Ice Keese Wing, 3 Icy Lizalfos Tail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Icy Lizalfos Tail, 5 Sapphire |

| <input type="checkbox" /> | **Desert Voe Spaulder** | &#9670; 1300 |
| <input type="checkbox" /> | &#9733;        | 3 White Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 White Chuchu Jelly, 3 Ice Keese Wing |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Ice Keese Wing, 3 Icy Lizalfos Tail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Icy Lizalfos Tail, 5 Sapphire |

| <input type="checkbox" /> | **Desert Voe Trousers** | &#9670; 650 |
| <input type="checkbox" /> | &#9733;        | 3 White Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 White Chuchu Jelly, 3 Ice Keese Wing |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Ice Keese Wing, 3 Icy Lizalfos Tail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Icy Lizalfos Tail, 5 Sapphire |

### Flamebreaker Set
This set can be purchased at the store "Ripped and Shredded" in Goro Village, though the Flamebreaker Armor and Boots can be given as part of a quest.

| <input type="checkbox" /> | **Flamebreaker Helm** | &#9670; 2000 |
| <input type="checkbox" /> | &#9733;        | 1 Fireproof Lizard, 2 Moblin Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Fireproof Lizard, 4 Moblin Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 3 Smotherwing Butterfly, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 5 Smotherwing Butterfly, 2 Hinox Guts |

| <input type="checkbox" /> | **Flamebreaker Armor** | &#9670; 600 **or** given by Kima in the Southern Mine for completing Fireproof Lizard Roundup |
| <input type="checkbox" /> | &#9733;        | 1 Fireproof Lizard, 2 Moblin Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Fireproof Lizard, 4 Moblin Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 3 Smotherwing Butterfly, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 5 Smotherwing Butterfly, 2 Hinox Guts |

| <input type="checkbox" /> | **Flamebreaker Boots** | &#9670; 700 |
| <input type="checkbox" /> | &#9733;        | 1 Fireproof Lizard, 2 Moblin Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Fireproof Lizard, 4 Moblin Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 3 Smotherwing Butterfly, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 5 Smotherwing Butterfly, 2 Hinox Guts |



### Hylian Set
This set can be purchased at either Enchanted (Kakariko Village) or Ventest (Hateno Village) 

| <input type="checkbox" /> | **Hylian Hood** | &#9670; 60 |
| <input type="checkbox" /> | &#9733;        | 5 Bokoblin Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Bokoblin Horn, 5 Bokoblin Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 10 Bokoblin Fang, 5 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 15 Bokoblin Guts, 15 Amber |

| <input type="checkbox" /> | **Hylian Tunic** | &#9670; 120 |
| <input type="checkbox" /> | &#9733;        | 5 Bokoblin Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Bokoblin Horn, 5 Bokoblin Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 10 Bokoblin Fang, 5 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 15 Bokoblin Guts, 15 Amber |

| <input type="checkbox" /> | **Hylian Trousers** | &#9670; 90 |
| <input type="checkbox" /> | &#9733;        | 5 Bokoblin Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Bokoblin Horn, 5 Bokoblin Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 10 Bokoblin Fang, 5 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 15 Bokoblin Guts, 15 Amber |

### Radiant Set
These items are purchaseable at the Gerudo Secret Club (GSC&#9670; ) in Gerudo.

| <input type="checkbox" /> | **Radiant Mask** | &#9670; 800, 3 Luminous Stone|
| <input type="checkbox" /> | &#9733;        | 5 Luminous Stone, 3 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Luminous Stone, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 10 Luminous Stone, 2 Moldulga Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 20 Luminous Stone, 1 Lynel Guts |

| <input type="checkbox" /> | **Radiant Shirt** | &#9670; 800, 3 Luminous Stone|
| <input type="checkbox" /> | &#9733;        | 5 Luminous Stone, 3 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Luminous Stone, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 10 Luminous Stone, 2 Moldulga Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 20 Luminous Stone, 1 Lynel Guts |

| <input type="checkbox" /> | **Radiant Tights** | &#9670; 800, 3 Luminous Stone|
| <input type="checkbox" /> | &#9733;        | 5 Luminous Stone, 3 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Luminous Stone, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 10 Luminous Stone, 2 Moldulga Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 20 Luminous Stone, 1 Lynel Guts |

### Rubber Set
This set is collected from various side quests and shrines.

| <input type="checkbox" /> | **Rubber Helm** | Given by Cima at Lakeside Stable for completing "Thunder Magnet" |
| <input type="checkbox" /> | &#9733;        | 3 Yellow Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Yellow Chuchu Jelly, 5 Voltfruit |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Zapshroom, 5 Yellow Lizalfos Tail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Yellow Lizalfos Tail, 15 Topaz |

| <input type="checkbox" /> | **Rubber Armor** | Found in shrine at Thundra Plateau after completing "Trial of Thunder"  |
| <input type="checkbox" /> | &#9733;        | 3 Yellow Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Yellow Chuchu Jelly, 5 Voltfruit |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Zapshroom, 5 Yellow Lizalfos Tail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Yellow Lizalfos Tail, 10 Topaz |

| <input type="checkbox" /> | **Rubber Tights** | Found in shrine at Calora Lake after completing "Song of Storms" |
| <input type="checkbox" /> | &#9733;        | 3 Yellow Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Yellow Chuchu Jelly, 5 Voltfruit |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Yellow Lizalfos Tail, 5 Zapshroom |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Yellow Lizalfos Tail, 10 Topaz |

### Snowquill Set
This set can be purchased at Brazen Beak in Rito Village

| <input type="checkbox" /> | **Snowquill Headdress** | &#9670; 1,000 |
| <input type="checkbox" /> | &#9733;        | 3 Red Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Red Chuchu Jelly, 3 Warm Saffina |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Fire Keese Wing, 5 Sunshroom |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Red Lizalfos Tail, 5 Ruby |

| <input type="checkbox" /> | **Snowquill Tunic** | &#9670; 600 |
| <input type="checkbox" /> | &#9733;        | 3 Red Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Red Chuchu Jelly, 3 Warm Saffina |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Fire Keese Wing, 5 Sunshroom |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Red Lizalfos Tail, 5 Ruby |

| <input type="checkbox" /> | **Snowquill Trousers** | &#9670; 550 |
| <input type="checkbox" /> | &#9733;        | 3 Red Chuchu Jelly |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Red Chuchu Jelly, 3 Warm Saffina |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Fire Keese Wing, 5 Sunshroom |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Red Lizalfos Tail, 5 Ruby |

### Soldier's Set
This set can be purchased at Ventest in Hateno Village

| <input type="checkbox" /> | **Soldier's Helm** | &#9670; 180 |
| <input type="checkbox" /> | &#9733;        | 5 Chuchu Jelly, 3 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Keese Eyeball, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 2 Lizalfos Tail, 2 Hinox Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 4 Lynel Hoof , 2 Lynel Guts |

| <input type="checkbox" /> | **Soldier's Armor** | &#9670; 250 |
| <input type="checkbox" /> | &#9733;        | 5 Chuchu Jelly, 3 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Keese Eyeball, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 2 Lizalfos Tail, 2 Hinox Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 4 Lynel Hoof , 2 Lynel Guts |

| <input type="checkbox" /> | **Soldier's Greaves** | &#9670; 200 |
| <input type="checkbox" /> | &#9733;        | 5 Chuchu Jelly, 3 Bokoblin Guts |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Keese Eyeball, 3 Moblin Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 2 Lizalfos Tail, 2 Hinox Guts |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 4 Lynel Hoof , 2 Lynel Guts |

### Special
These items are awarded through quests or found, and are not upgradeable, with the exception of the Champion's Tunic.

| <input type="checkbox" /> | **Champion's Tunic** | Given by Impa after regaining first memory during "Captured Memories" quest |
| <input type="checkbox" /> | &#9733;        | 3 Silent Princess |
| <input type="checkbox" /> | &#9733;&#9733; | 3 Silent Princess, 2 Shard of Farosh's Horn |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 3 Silent Shroom, 2 Shard of Naydra's Horn |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Silent Princess, 2 Shard of Dinraal's Horn |

| <input type="checkbox" /> | **Thunder Helm** | Given by Riju in Gerudo after completing 4 side quests during "The Thunder Helm" quest |
| <input type="checkbox" /> | **Old Shirt**, **Well-Worn Trousers** | found in Rejuvenation Chamber |
| <input type="checkbox" /> | **Gerudo Veil, Top, Sirwal** | Buy for &#9670; 650 from Vilia in Kara Kara Bazaar during "Forbidden City Entry" |
| <input type="checkbox" /> | **Sand Boots** | Given by Bozai in Gerudo after completing "The Eighth Heroine" quest (permanently after completing "The Forgotten Sword") |
| <input type="checkbox" /> | **Snow Boots** | Borrowed from Bozai in Gerudo during "The Eighth Heroine" quest (given permanently after completing "The Forgotten Sword") |
| <input type="checkbox" /> | **Warm Doublet** | Given by the Old Man on Great Plateau in exchange for Spicy Meat &amp; Seafood Fry (Raw Meat, Hyrule Bass, Spicy Pepper), or purchased for &#9670; 80 at Ventest in Hateno Village |

### Stealth Set
This set can be purchased at Enchanted in Kakariko Village

| <input type="checkbox" /> | **Stealth Mask** | &#9670; 500 |
| <input type="checkbox" /> | &#9733;        | 3 Blue Nightshade |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Blue Nightshade, 5 Sunset Firefly |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Silent Shroom, 5 Sneaky River Snail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Stealthfin Trout, 5 Silent Princess |

| <input type="checkbox" /> | **Stealth Chest Guard** | &#9670; 700 |
| <input type="checkbox" /> | &#9733;        | 3 Blue Nightshade |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Blue Nightshade, 5 Sunset Firefly |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Silent Shroom, 5 Sneaky River Snail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Stealthfin Trout, 5 Silent Princess |

| <input type="checkbox" /> | **Stealth Tights** | &#9670; 600 |
| <input type="checkbox" /> | &#9733;        | 3 Blue Nightshade |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Blue Nightshade, 5 Sunset Firefly |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 8 Silent Shroom, 5 Sneaky River Snail |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Stealthfin Trout, 5 Silent Princess |


### Wild Set
All three of these are given after completing the "A Gift from the Monks" sidequest, after completing all 120 shrines.

| <input type="checkbox" /> | **Cap of the Wild** | Found in Forgotten Temple chest  |
| <input type="checkbox" /> | &#9733;        | 10 Acorn, 2 Farosh's Scale |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Courser Bee Honey, 2 Farosh's Claw |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Energetic Rhino Beetle, 2 Shard of Farosh's Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 1 Star Fragment, 2 Shard of Farosh's Horn |

| <input type="checkbox" /> | **Tunic of the Wild** | Found in Forgotten Temple chest  |
| <input type="checkbox" /> | &#9733;        | 10 Acorn, 2 Naydra's Scale |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Courser Bee Honey, 2 Naydra's Claw |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Energetic Rhino Beetle, 2 Shard of Naydra's Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 1 Star Fragment, 2 Shard of Naydra's Horn |

| <input type="checkbox" /> | **Trousers of the Wild** | Found in Forgotten Temple chest  |
| <input type="checkbox" /> | &#9733;        | 10 Acorn, 2 Dinraal's Scale |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Courser Bee Honey, 2 Dinraal's Claw |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Energetic Rhino Beetle, 2 Shard of Dinraal's Fang |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 1 Star Fragment, 2 Shard of Dinraal's Horn |

### Zora Set
The Zora set is found in different locations within Zora's Domain.

| <input type="checkbox" /> | **Zora Helm** | Found at Toto Lake via Zora Stone Monument quest  |
| <input type="checkbox" /> | &#9733;        | 3 Lizalfos Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Lizalfos Horn, 5 Hyrule Bass |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Lizalfos Tail, 5 Hearty Bass |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Lizalfos Tail, 15 Opal |

| <input type="checkbox" /> | **Zora Armor** | Given by King Dorephan during Divine Beast Van Ruta quest |
| <input type="checkbox" /> | &#9733;        | 3 Lizalfos Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Lizalfos Horn, 5 Hyrule Bass |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Lizalfos Tail, 5 Hearty Bass |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Lizalfos Tail, 15 Opal |

| <input type="checkbox" /> | **Zora Greaves** | Given by Laflat after completing Lynel Safari quest |
| <input type="checkbox" /> | &#9733;        | 3 Lizalfos Horn |
| <input type="checkbox" /> | &#9733;&#9733; | 5 Lizalfos Horn, 5 Hyrule Bass |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Lizalfos Tail, 5 Hearty Bass |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Lizalfos Tail, 15 Opal |


### Jewelery

Jewelery items are all found in Gerudo Town after completing the side quest "Starlight Memories."

| <input type="checkbox" /> | Amber Earrings | &#9670; 100 + 10 Amber |
| <input type="checkbox" /> | &#9733;        | 5 Amber, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733; | 10 Amber, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 20 Amber, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 30 Amber, 3 Flint |

| <input type="checkbox" /> | Diamond Circlet | &#9670; 100 + 10 Amber |
| <input type="checkbox" /> | &#9733;        | 5 Amber, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733; | 10 Amber, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 20 Amber, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 30 Amber, 3 Flint |

| <input type="checkbox" /> | Opal Earrings | &#9670; 200 + 8 Opal |
| <input type="checkbox" /> | &#9733;        | 5 Opal, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733; | 8 Opal, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 16 Opal, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 20 Opal, 3 Flint |

| <input type="checkbox" /> | Ruby Circlet | &#9670; 500 + 3 Ruby |
| <input type="checkbox" /> | &#9733;        | 2 Ruby, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733; | 4 Ruby, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 6 Ruby, 1 Star Fragment |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Ruby, 1 Star Fragment |

| <input type="checkbox" /> | Sapphire Circlet | &#9670; 800 + 3 Sapphire |
| <input type="checkbox" /> | &#9733;        | 2 Sapphire, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733; | 4 Sapphire, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 6 Sapphire, 1 Star Fragment |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Sapphire, 1 Star Fragment |

| <input type="checkbox" /> | Topaz Earrings | &#9670; 500 + 5 Topaz |
| <input type="checkbox" /> | &#9733;        | 2 Topaz, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733; | 4 Topaz, 3 Flint |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 6 Topaz, 1 Star Fragment |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 10 Topaz, 1 Star Fragment |

### Kilton Gear
These items are purchased from Kilton at the Fang and Bone, using his Mon currency. They cannot be upgraded by Great Fairies.

| <input type="checkbox" /> | Bokoblin Mask | &#9760;99 |
| <input type="checkbox" /> | Dark Hood | &#9760;1,999 |
| <input type="checkbox" /> | Dark Tunic | &#9760;999 |
| <input type="checkbox" /> | Dark Trousers | &#9760;999 |
| <input type="checkbox" /> | Lizalfos Mask | &#9760;299 |
| <input type="checkbox" /> | Lynel Mask | &#9760;999 |
| <input type="checkbox" /> | Moblin Mask | &#9760;199 |
| <input type="checkbox" /> | Monster Bridle | &#9760;399 |
| <input type="checkbox" /> | Monster Saddle | &#9760;299 |

### DLC Gear
These items require DLC to enable. They are not upgradable by Great Fairies. 

#### Expansion Pass Bonus DLC

| <input type="checkbox" /> | Nintendo Switch Shirt | Found in a chest near the shrine at the Eastern Abbey (Great Plateau) |


#### Xeno Chronicles Gear
The Xeno Chronicles collaboration is a free update to the base game.

| <input type="checkbox" /> | Salvager Headwear | Found in a chest on the eastern shore of Lake Hylia, near the southern pier, after witnessing a red meteorite visible at night from the southern edge of the Bridge of Hylia (Hyrule Field), as part of the "Collaboration: Xenoblade Chronicles 2" quest |
| <input type="checkbox" /> | Salvager Vest | Found in a chest in the Akkala Wilds, after witnessing a red meteorite visible at night from the left eye of Skull Lake (Akkala), as part of the "Collaboration: Xenoblade Chronicles 2" quest |
| <input type="checkbox" /> | Salvager Trousers | Found in a chest near an updraft southeast of Hebra Peak, after witnessing a red meteorite visible at night from the southeast of Hebra Peak (Hebra Mountains), as part of the "Collaboration: Xenoblade Chronicles 2" quest |

#### Master Trials Gear

##### Super Rumor Mill V1
Reading the book at the Woodland Stable (Eldin Canyon) will trigger the quest "EX Treasure: Strange Mask Rumors"

| <input type="checkbox" /> | Korok Mask | Found in a chest inside a tree in the Lost Woods outer area |

##### Super Rumor Mill V2
Reading the book at the South Akkala Stable (Akkala) will trigger the quest "EX Treasure: Teleportation Rumors!"

| <input type="checkbox" /> | Travel Medallion | Found in a chest near the middle of the southern wall, in the underground base of Lomei Labyrinth Island |

##### Misko's EX Journal
In the Outpost Ruins (Central Hyrule) there is a book titled "Misko's EX Journal" that will enable several side-quests when read. 

| <input type="checkbox" /> | Majora's Mask | Found in a buried chest near the largest building in the Kolomo Garrison Ruins (southern Hyrule Field), for the "EX Treasure: Ancient Mask" quest |
| <input type="checkbox" /> | Midna's Helmet | Found in a buried chest in the northwestern building of the Sage Temple Ruins (Hyrule Field), for the "EX Treasure: Twilight Relic" quest |
| <input type="checkbox" /> | Phantom Helmet | Found in a buried chest in the northwest of Coliseum Ruins (south of Hyrule Castle), as part of the "EX Treasure: Phantasma" quest |
| <input type="checkbox" /> | Phantom Armor | Found in a buried chest in the southeast of Sacred Ground Ruins (south of Hyrule Castle), as part of the "EX Treasure: Phantasma" quest |
| <input type="checkbox" /> | Phantom Greaves | Found in a buried chest in the southeast of Hyrule Garrison Ruins (north of Great Plateau), as part of the "EX Treasure: Phantasma" quest |
| <input type="checkbox" /> | Tingle's Hood | Found in a buried chest in the middle of the Exchange Ruins in the southern part of Windvane Meadow (Hyrule Field), as part of the "Fairy Clothes" quest |
| <input type="checkbox" /> | Tingle's Shirt | Found in a buried chest in the middle of the Castle Town Prison ruins (west of Hyrule Castle), as part of the "Fairy Clothes" quest |
| <input type="checkbox" /> | Tingle's Tights | Found in a buried chest in the southeast of the Mabe Village Ruins near the Ranch Ruins (Hyrule Field), as part of the "Fairy Clothes" quest |

#### Champion's Ballad Gear

##### Super Rumor Mill V3
Reading the book at the Highland Stable (Faron Grasslands) will trigger the quest "EX Treasure: Ancient Horse Rumors"

| <input type="checkbox" /> | Ancient Bridle | Found in a chest in Satori Mountain (Hyrule Ridge) |
| <input type="checkbox" /> | Ancient Saddle | Found in a sunken chest behind the fountain in Malanya Spring (Lake Hylia) |

##### Super Rumor Mill V4
Reading the book at the Riverside Stable (Hyrule Field) will trigger the quest "EX Treasure: Royal Guard Rumors"

| <input type="checkbox" /> | Royal Guard Cap | Found in a chest in front of a knight statue on the second floor of the Sanctum (Hyrule Castle) |
| <input type="checkbox" /> | Royal Guard Uniform | Found in a chest in a secret room hidden by a weak wall in the hallway near the Dining Hall (Hyrule Castle) |
| <input type="checkbox" /> | Royal Guard Boots | Found in a chest in the Guards' chamber (Hyrule Castle) |


##### Misko's EX Journal
In the Deya Village Ruins (West Necluda) there is a book titled "Misko's EX Journal" that will enable several side-quests when read. 

| <input type="checkbox" /> | Island Lobster Shirt | Found in a chest at Cora Lake (Faron, near coast), for the "Garb of Winds" quest |
| <input type="checkbox" /> | Phantom Ganon Skull | Found in a sunken chest in Corta Lake (Faron forest), for the "EX Treasure: Dark Armor" quest |
| <input type="checkbox" /> | Phantom Ganon Armor | Found in a sunken chest in under Sarjon Bridge (Faron forest), for the "EX Treasure: Dark Armor" quest |
| <input type="checkbox" /> | Phantom Ganon Greaves | Found in a chest at the broken bird statue in Ebara Forest near Floria Bridge (Faron forest), for the "EX Treasure: Dark Armor" quest |
| <input type="checkbox" /> | Ravio's Hood | Found in a buried chest under the right hand of the dragon at the Spring of Courage at Dracozu Lake (Faron forest), for the "EX Treasure: Merchant Hood" quest |
| <input type="checkbox" /> | Zant's Helmet | Found in a buried chest on a small island between 2 dead trees in the north part of Tobio's Hollow (Dueling Peaks), for the "Usurper King" quest |

### Amiibo Gear
These items are only available via the appropriate Amiibo. They are decorative and cannot be upgraded.

| <input type="checkbox" /> | "Time" set (Cap, Tunic, Trousers) | Enabled with the Link amiibo from "The Legend of Zelda: 30th Anniversary" series |
| <input type="checkbox" /> | "Hero" set (Cap, Tunic, Trousers) | Enabled with the 8-Bit Link amiibo from "The Legend of Zelda: 30th Anniversary" series |
| <input type="checkbox" /> | "Twilight" set (Cap, Tunic, Trsouers) | Enabled with the Link Twilight Princess amiibo from "The Legend of Zelda: 30th Anniversary" series, or Link amiibo from "Super Smash Bros" series |
| <input type="checkbox" /> | "Sky" set (Cap, Tunic, Trousers) | Enabled with the Link Skyward Sword amiibo from "The Legend of Zelda: 30th Anniversary" series |
| <input type="checkbox" /> | "Wind" set (Cap, Tunic, Trousers) | Enabled with the Toon Link amiibo from "The Legend of Zelda: 30th Anniversary" series or the "Super Smash Bros" series |
| <input type="checkbox" /> | "Fierce Deity" set (Mask, Armor, Boots) | Enabled with the Link Majora's Mask amiibo from "The Legend of Zelda: 30th Anniversary" series |
| <input type="checkbox" /> | Sheik's Mask | Enabled with the Sheik amiibo from "Super Smash Bros" series |

#### Divine Beast Gear
These can be upgraded.

| <input type="checkbox" /> | Vah Medoh Divine Helm | Enabled with the Revali amiibo |
| <input type="checkbox" /> | &#9733;        | 5 Ancient Spring |
| <input type="checkbox" /> | &#9733;&#9733; | 10 Ancient Gear |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ancient Core |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 2 Giant Ancient Core |

| <input type="checkbox" /> | Vah Naboris Divine Helm | Enabled with the Urbosa amiibo |
| <input type="checkbox" /> | &#9733;        | 5 Ancient Spring |
| <input type="checkbox" /> | &#9733;&#9733; | 10 Ancient Gear |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ancient Core |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 2 Giant Ancient Core |

| <input type="checkbox" /> | Vah Rudania Divine Helm | Enabled with the Daruk amiibo |
| <input type="checkbox" /> | &#9733;        | 5 Ancient Spring |
| <input type="checkbox" /> | &#9733;&#9733; | 10 Ancient Gear |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ancient Core |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 2 Giant Ancient Core |

| <input type="checkbox" /> | Vah Ruta Divine Helm | Enabled with the Mipha amiibo |
| <input type="checkbox" /> | &#9733;        | 5 Ancient Spring |
| <input type="checkbox" /> | &#9733;&#9733; | 10 Ancient Gear |
| <input type="checkbox" /> | &#9733;&#9733;&#9733; | 5 Ancient Core |
| <input type="checkbox" /> | &#9733;&#9733;&#9733;&#9733; | 2 Giant Ancient Core |







## Shrines
 🧩 Puzzle Shrine
 ✔ Chest & Orb only (Outdoor tasks)
 ⚔ Test of Strength (Guardian Fight))

❍ The Great Plateau Area
 🧩 Ja Baij
 ❏ S of Great Plateau Tower
 ❏ Traveler's Claymore   ❏ Amber
 🧩 Keh Namut
 ❏ SW of Shrine of Resurrection
 ❏ Traveler's Spear
 🧩 Oman Au
 ❏ N of Great Plateau Tower
 ❏ Traveler's Bow
 🧩 Owa Daim
 ❏ SW of Great Plateau Tower
 ❏ Traveler's Shield

❍ Dueling Peaks Tower Area
 🧩 Bosh Kala
 ❏ W of Dueling Peaks Tower
 ❏ Soldier's Claymore    ❏ Amber
 🧩 Ha Dahamar
 ❏ W of Dueling Peaks Stable
 ❏ Purple Rupee
 🧩 Hila Rao
 "Watch out for the flowers"
 ❏ N of Dueling Peaks Tower
 ❏ Ice Arrow x5              ❏  Opal
 ✔ Lakna Rokee
 "The Stolen Heirloom"
 ❏ E of Kakariko Village
 ❏ Edge of Duality
 🧩 Ree Dahee
 ❏ Between Dueling Peaks
 ❏ Climber's Bandanna
 🧩 Shee Vaneer
 ❏ S Dueling Peak
 ❏ Eightfold Longblade
 🧩 Shee Venath
 ❏ N Dueling Peak
 ❏ Serpentine Spear
 ❏ Eightfold Longblade
 ⚔ Ta'loh Naeg
 ❏ N of Kakariko Village
 ❏ Shield of the Mind's Eye  ❏ Opal
 ❏ Eightfold Blade
 🧩 Toto Sah
 ❏ SE of Dueling Peaks
 ❏ Shield of the Mind's Eye

❍ Hateno Tower Area
 ⚔ Chaas Qeta
 ❏ Tenoko Island
 ❏ Climbing Gear
 🧩 Dow Na'eh
 ❏ N of Hateno Tower
 ❏ Zora Sword     ❏ Amber     ❏ Opal
 ✔ Jitan Sa'mi
 "The Spring of Wisdom"
 ❏ Summit of Mt. Lanayru
 ❏ Frostspear
 🧩 Kam Urog
 "The Cursed Statue"
 ❏ N of Hateno Tower
 ❏ Soldier's Spear     ❏ Opal
 🧩 Mezza Lo
 "The Crowned Beast"
 ❏ N of Hateno Tower
 ❏ Thunderblade
 🧩 Myahm Agana
 ❏ S of Hateno Village
 ❏ Phrenic Bow
 ✔ Tahno O'ah
 "Secret of the Cedars"
 ❏ NE of Hateno Research
 ❏ Climbing Boots

❍ Lanayru Tower Area
 ✔ Dagah Keek
 "The Ceremonial Song"
 ❏ SW of Zora's Domain
 ❏ Silver Rupee
 🧩 Daka Tuss
 ❏ SW of Lanayru Tower
 ❏ Silver Longsword
 🧩 Kah Mael
 ❏ E of Akkala Tower
 ❏ Diamond
 🧩 Kaya Wan
 ❏ W of Lanayru Tower
 ❏ Knight's Broadsword     ❏ Ancient Core
 🧩 Ne'ez Yohma
 ❏ Zora's Domain
 ❏ Zora Spear
 🧩 Rucco Maag
 ❏ S of Zora's Domain
 ❏ Silver Bow                     ❏ Opal
 ⚔ Soh Kofi
 ❏ N of Lanayru Tower
 ❏ Knight's Bow
 ✔ Shai Yota
 "Master of the Wind"
 ❏ SE of Zora's Domain
 ❏ Great Flameblade
 🧩 Sheh Rata
 ❏ W of Lanayru Tower
 ❏ Giant Boomerang         ❏ Opal

❍ Faron Tower Area
 🧩 Kah Yah
 "A Fragmented Monument"
 ❏ E of Faron Tower
 ❏ Knight's Claymore
 ✔ Korgu Chideh
 "Stranded in Eventide"
 ❏ SE Island
 ❏ Gold Rupee
 ⚔ Muwo Jeem
 ❏ E of Faron Tower
 ❏ Knight's Bow
 ✔ Qukah Nata
 "A Song of Storms"
 ❏ E of Faron Tower
 ❏ Rubber Tights
 🧩 Shai Utoh
 ❏ SE of Faron Tower
 ❏ Traveller's Sword         ❏ Ancient Core
 🧩 Shoda Sah
 ❏ NE of Faron Tower
 ❏ Ice Arrow x5
 ✔ Tawa Jinn
 "The Three Giant Brothers"
 ❏ S of Hateno Tower
 ❏ Great Thunderblade
 🧩 Yah Rin
 ❏ E of Faron Tower
 ❏ Knight's Broadsword    ❏ Opal

❍ Lake Tower Area
 🧩 Ishto Soh
 ❏ SW of Lake Tower
 ❏ Ancient Core              ❏ Topaz
 🧩 Ka'o Makagh
 ❏ SE of Lake Tower
 ❏ Traveler's Bow    ❏ Gold Rupee     ❏ Opal
 ⚔ Pumaag Nitae
 ❏ E of Lake Tower
 ❏ Boomerang
 ✔ Shae Katha
 "The Serpent's Jaws"
 ❏ SW of Dueling Peaks
 ❏ Thunderspear
 ⚔ Shoqa Tatone
 "Guardian Slideshow"
 ❏ S of Lake Tower
 ❏ Royal Broadsword
 🧩 Ya Naga
 ❏ NW of Lake Tower
 ❏ Eightfold Blade

❍ Wasteland Tower Area
 🧩 Dako Tah
 "The Eye of the Sandstorm"
 ❏ W of Wasteland Tower
 ❏ Moonlight Scimitar  ❏ Silver Rupee
 ❏ Radiant Shield        ❏ Ancient Core
 🧩 Daqo Chisay
 ❏ S of Gerudo Tower
 ❏ Thunderblade
 ✔ Dila Maag
 "The Desert Labyrinth"
 ❏ SE of Wasteland Tower
 ❏ Barbarian Armor
 🧩 Hawa Koth
 ❏ SW of Wasteland Tower
 ❏ Ancient Core             ❏ Gold Rupee
 ❏ Sapphire
 🧩 Jee Noh
 ❏ E of Wasteland Tower
 ❏ Opal
 🧩 Kay Noh
 ❏ W of Wasteland Tower
 ❏ Gerudo Scimitar
 🧩 Kema Zoos
 "The Silent Swordsman"
 ❏ W of Wasteland Tower
 ❏ Moonlight Scimitar
 ✔ Korsh O'hu
 "The Seven Heroines"
 ❏ SW of Wasteland Tower
 ❏ Flamespear
 ✔ Misae Suma
 "The Perfect Drink"
 ❏ SW of Wasteland Tower
 ❏ Diamond
 ✔ Raqa Zunzo
 "The Undefeated Champ"
 ❏ SW of Wasteland Tower
 ❏ Radiant Shield
 ✔ Suma Sahma
 "Secret of the Snowy Peaks"
 ❏ SE of Wasteland Tower
 ❏ Moonlight Scimitar
 ✔ Tho Kayu
 ❏ W of Wasteland Tower
 ❏ Golden Bow

❍ Gerudo Tower Area
 🧩 Joloo Nah
 ❏ E of Gerudo Tower
 ❏ Golden Claymore   ❏ Gerudo Spear
 ✔ Keeha Yoog
 ❏ N of Gerudo Tower
 ❏ Diamond
 ⚔ Kema Kosassa
 ❏ NW of Gerudo Tower
 ❏ Silver Rupee
 🧩 Kuh Takkar
 ❏ NE of Gerudo Tower
 ❏ Frostblade
 ⚔ Sasa Kai
 ❏ SE of Gerudo Tower
 ❏ Frostblade
 🧩 Sho Dantu
 ❏ NW of Gerudo Tower
 ❏ Silver Rupee

❍ Central Tower Area
 ⚔ Dah Kaso
 ❏ SW of Central Tower
 ❏ Ancient Core
 🧩 Kaam Ya'tak
 ❏ SW of Central Tower
 ❏ Edge of Duality  ❏ Ancient Core      ❏ Diamond
 ❏ Silver Rupee      ❏ Knight's Broadsword    
 ⚔ Katah Chuki
 ❏ N of Central Tower
 ❏ Royal Halberd
 ⚔ Namika Ozz
 ❏ NE of Central Tower
 ❏ Frostspear
 ⚔ Noya Neha
 ❏ N of Central Tower
 ❏ Knight Shield
 🧩 Rota Ooh
 ❏ SW of Central Tower
 ❏ Feathered Edge
 ⚔ Saas Ko'sah
 ❏ Hyrule Castle Docks
 ❏ Flameblade
 🧩 Wahgo Katta
 ❏ E of Central Tower
 ❏ Amber

❍ Ridgeland Tower Area
 ✔ Maag No'rah
 ❏ B of Ridgeland Tower
 ❏ Silver Rupee
 ⚔ Mijah Rokee
 "Under a Red Moon"
 ❏ SW of Ridgeland Tower
 ❏ Frostblade
 🧩 Mogg Latan
 ❏ S of Ridgeland Tower
 ❏ Forest Dweller's Bow  ❏ Gold Rupee
 ❏ Forest Dweller's Spear 
 🧩 Shae Loya
 ❏ SW of Ridgeland Tower
 ❏ Falcon Bow     ❏ Topaz
 🧩 Sheem Dagoze
 "The Two Rings"
 ❏ S of Ridgeland Tower
 ❏ Great Thunderblade
 🧩 Toh Yahsa
 "Trial of Thunder"
 ❏ W of Ridgeland Tower
 ❏ Rubber Armor  ❏ Opal
 🧩 Zalta Wa
 ❏ SE of Ridgeland Tower
 ❏ Knight's Bow

❍ Tabantha Tower Area
 🧩 Akh Va'quot
 ❏ Rito Village
 ❏ Ancient Core  ❏ Sapphire
 ❏ Feathered Spear 
 🧩 Bareeda Naag
 "The Ancient Rito Song"
 ❏ N of Tabantha Tower
 ❏ Falcon Bow             ❏ Diamond
 🧩 Kah Okeo
 ❏ SW of Tabantha Tower
 ❏ Gold Rupee         ❏ Giant Ancient Core
 ❏ Forest Dweller's Sword   ❏ Korok Leaf
 🧩 Sha Warvo
 ❏ N of Tabantha Tower
 ❏ Purple Rupee  ❏ Knight's Bow
 ⚔ Tena Ko'sah
 ❏ S of Tabantha Tower
 ❏ Knight's Halberd
 🧩 Voo Lota
 "Recital at Warbler's Nest"
 ❏ NW of Tabantha Tower
 ❏ Flameblade

❍ Hebra Tower Area
 🧩 Dunba Taag
 ❏ SW of Hebra Tower
 ❏ Great Thunderblade  ❏ Falcon Bow
 🧩 Gee Ha'rah
 ❏ N of Hebra Tower
 ❏ Diamond
 ⚔ Hia Miu
 ❏ NW of Hebra Tower
 ❏ Sapphire
 ⚔ Goma Asaagh
 ❏ N of Hebra Tower
 ❏ Royal Claymore
 ✔ Lanno Kooh
 ❏ W of Hebra Tower
 ❏ Gold Rupee
 🧩 Maka Rah
 ❏ W of Hebra Tower
 ❏ Bomb Arrow x10  ❏ Diamond  ❏ Ancient Core
 ⚔ Mozo Shenno
 "The Bird in the Mountains"
 ❏ NW of Hebra Tower
 ❏ Diamond
 ✔ Qaza Tokki
 "Trial on the Cliff"
 ❏ NE of Hebra Tower
 ❏ Barbarian Leg Wraps
 🧩 Rin Oyaa
 ❏ NE of Hebra Tower
 ❏ Ancient Core
 🧩 Rok Uwog
 ❏ N of Hebra Tower
 ❏ Drillshaft
 🧩 Shada Naw
 ❏ N of Hebra Tower
 ❏ Great Frostblade
 🧩 Sha Gehma
 ❏ N of Hebra Tower
 ❏ Royal Broadsword
 ✔ To Quomo
 ❏ NW of Hebra Tower
 ❏ Royal Claymore

❍ Woodland Tower Area
 ✔ Daag Chokah
 "The Lost Pilgrimmage"
 ❏ NW of Woodland Tower
 ❏ Ancient Core
 🧩 Keo Ruug
 ❏ NW of Woodland Tower
 ❏ Knight's Claymore
 🧩 Ketoh Wawai
 "Shrouded Shrine"
 ❏ N of Woodland Tower
 ❏ Ancient Core
 ✔ Kuhn Sidajj
 "Trial of Second Sight"
 ❏ NW of Woodland Tower
 ❏ Giant Ancient Core
 ✔ Maag Halan
 "The Test of Wood"
 ❏ N of Woodland Tower
 ❏ Giant Ancient Core
 🧩 Mirro Shaz
 ❏ SE of Woodland Tower
 ❏ Iron Sledgehammer x2  ❏ Giant Ancient Core
 🧩 Monya Toma
 ❏ W of Woodland Tower
 ❏ Thunderblade
 🧩 Rona Kachta
 ❏ NW of Woodland Tower
 ❏ Great Flameblade

❍ Eldin Tower Area
 🧩 Daqa Koh
 ❏ N of Eldin Tower
 ❏ Silver Rupee
 ✔ Gorae Torr
 "The Gut Check Challenge"
 ❏ N of Eldin Tower
 ❏ Great Frostblade
 🧩 Kayra Mah
 "A Brother's Roast"
 ❏ N of Eldin Tower
 ❏ Bomb Arrow x5    ❏ Ruby
 🧩 Mo'a Keet
 ❏ SE of Eldin Tower
 ❏ Knight's Broadsword
 🧩 Qua Raym
 ❏ W of Eldin Tower
 ❏ Knight's Claymore
 🧩 Sah Dahaj
 ❏ E of Eldin Tower
 ❏ Knight's Bow
 🧩 Shae Mo'sah
 ❏ NW of Eldin Tower
 ❏ Ice Arrow x10  ❏ Stone Smasher   ❏ Ruby
 🧩 Shora Hah
 ❏ NW of Eldin Tower
 ❏ Great Flameblade    ❏ Ice Arrow x10
 ❏ Giant Ancient Core  ❏ Silver Rupee
 ❏ Forest Dweller's Sword ❏ Royal Bow  
 🧩 Tah Muhl
 "A Landscape of a Stable"
 ❏ S of Eldin Tower
 ❏ Cobble Crusher  ❏ Ruby  ❏ Opal

❍ Akkala Tower Area
 ⚔ Dah Hesho
 ❏ E of Akkala Tower
 ❏ Giant Ancient Core
 🧩 Katosa Aug
 ❏ NE of Akkala Tower
 ❏ Great Frostblade
 ⚔ Ke'nai Shakah
 ❏ SE of Akkala Tower
 ❏ Sapphire
 ✔ Ritaag Zumo
 ❏ NE of Akkala Tower
 ❏ Giant Ancient Core
 ✔ Tu Ka'loh
 ❏ NE of Akkala Tower
 ❏ Barbarian Helm
 ⚔ Tutsuwa Nima
 "The Spring of Power"
 ❏ NE of Akkala Tower
 ❏ Flamespear
 🧩 Ze Kasho
 ❏ NW of Akkala Tower
 ❏ Silverscale Spear
 ✔ Zuna Kai
 "The Skull's Eye"
 ❏ N of Akkala Tower
 ❏ Flameblade

❍ Sidequests
❍ Dueling Peaks Tower Area
 ❏ Misko, The Great Bandit
 Dueling Peaks Stable
 ❏ The Priceless Maracas
 Kakariko Village
 ❏ Wild Horses
 Dueling Peaks Stable
 ❏ Flown the Coop
 Kakariko Village
 ❏ Arrows of Burning Heat
 Kakariko Village
 ❏ Koko's Kitchen
 ❏ Cooking with Koko
 ❏ Koko Cuisine
 ❏ Koko's Specialty
 Kakariko Village
 ❏ Playtime with Cottla
 Kakariko Village
 ❏ Find the Fairy Fountain
 Kakariko Village Outskirts
 ❏ By Firefly's Light
 Kakariko Village

❍ Hateno Tower Area
 ❏ The Statue's Bargain
 Hateno Village
 ❏ The Weapon Connoisseur
 Hateno Village
 ❏ A Gift for my Beloved
 Hateno Village
 ❏ The Sheep Rustlers
 Hateno Village
 ❏ Robbie's Research
 Hateno Ancient Tech Lab
 ❏ Slated for Upgrades
 Hateno Ancient Tech Lab
 ❏ Sunshroom Sensing
 Hateno Ancient Tech Lab
 ❏ The Hero's Cache
 Hateno Village
 ❏ From the Ground Up
 Hateno Village

❍ Lanayru Tower Area
 ❏ Special Delivery
East of Lanayru Tower
 ❏ Diving is Beauty!
 Zora's Domain
 ❏ Lynel Safari
 Zora's Domain
 ❏ Frog Catching
 Zora's Domain
 ❏ The Giant of Ralis Pond
 Zora's Domain
 ❏ Luminous Stone Gathering
 Zora's Domain
 ❏ A Wife Washed Away
 Zora's Domain
 ❏ Riverbed Reward
 Wetland Stable
 ❏ Zora Stone Monuments
 Zora's Domain

❍ Faron Tower Area
 ❏ What's For Dinner?
 Lurelin Village
 ❏ Sunken Treasure
 Lurelin Village
 ❏ Take Back the Sea
 Lurelin Village
 ❏ A Gift of Nightshade
 Yambi Lake
 ❏ Thunder Magnet
 Lakeside Stable

❍ Lake Tower Area
 ❏ Hunt for the Giant Horse
 South of Lake Tower
 ❏ The Horseback Hoodlums
 Highland Stable

❍ Wasteland Tower Area
 ❏ Good-sized Horse
 North of Wasteland Tower
 ❏ Missing in Action
 Gerudo Canyon Stable
 ❏ Rushroom Rush!
 Gerudo Canyon Stable
 ❏ An Ice Guy
 Kara Kara Bazaar
 ❏ Tools of the Trade
 Gerudo Town
 ❏ The Secret Club's Secret
 Gerudo Town
 ❏ Medicinal Molduga
 Gerudo Town
 ❏ The Eighth Heroine
 Gerudo Town
 ❏ The Forgotten Sword
 Gerudo Town
 ❏ The Thunder Helm
 Gerudo Town
 ❏ The Mystery Polluter
 Gerudo Town
 ❏ The Search for Barta
 Gerudo Town

❍ Tabantha Tower Area
 ❏ Curry for What Ail's You
 Rito Stable
 ❏ The Apple of My Eye
 Rito Village
 ❏ The Spark of Romance
 Rito Village
 ❏ Face the Frost Talus
 Rito Stable
 ❏ Find Kheel
 Rito Village

❍ Hebra Tower Area
 ❏ Stalhorse Pictured
 Snowfield Stable

❍ Woodland Tower Area
 ❏ Balloon Flight
 Woodland Stable
 ❏ A Freezing Rod
 Korok Forest
 ❏ The Korok Trials
 Korok Forest
 ❏ Legendary Rabbit Trial
 Korok Forest
 ❏ Leviathan Bones
 Serenne Stable
 ❏ A Gift from the Monks
 Rona Kachta Shrine
 ❏ Riddles of Hyrule
 Korok Forest

❍ Central & Ridgeland Tower Area
 ❏ A Gift for the Great Fairy
 Tabantha Bridge Stable
 ❏ The Royal Guard's Gear
 Riverside Stable
 ❏ A Rare Find
 Outskirt Stable
 ❏ My Hero
 Outskirt Stable
 ❏ A Royal Recipe
 Riverside Stable
 ❏ The Royal White Stallion
 Outskirt Stable

❍ Central & Ridgeland Tower Area
 ❏ A Gift for the Great Fairy
 Tabantha Bridge Stable
 ❏ The Royal Guard's Gear
 Riverside Stable
 ❏ A Rare Find
 Outskirt Stable
 ❏ My Hero
 Outskirt Stable
 ❏ A Royal Recipe
 Riverside Stable
 ❏ The Royal White Stallion
 Outskirt Stable

❍ Eldin Tower Area
 ❏ Fireproof Lizard Roundup
 Southern Mine
 ❏ The Road to Respect
 Goron City
 ❏ Death Mountain's Secret
 Goron Hot Springs
 ❏ The Jewel Trade
 Goron City

❍ Akkala Tower Area
 ❏ A Parent's Love
 Tarrey Town
 ❏ Hobbies of the Rich
 Tarrey Town
 ❏ A Shady Customer
 East Akkala Stable
 ❏ Little Sister's Big Request
 South Akkala Stable

❍ Compendium
❍ Bestiary
❍ Chuchus
 ❏ [Blue] Chuchu
 
 ❏ Fire Chuchu
 
 ❏ Ice Chuchu


 ❏ Electric Chuchu



❍ Keese
 ❏ Keese
 
 ❏ Fire Keese
 
 ❏ Ice Keese


 ❏ Electric Keese



❍ Octoroks
 ❏ Water Octorok
 
 ❏ Forest Octorok
 
 ❏ Rock Octorok


 ❏ Snow Octorok


 ❏ Treasure Octorok



❍ Wizzrobe
 ❏ Fire Wizzrobe
 
 ❏ Ice Wizzrobe
 
 ❏ Electric Wizzrobe


 ❏ Meteo Wizzrobe


 ❏ Blizzrobe


 ❏ Thunder Wizzrobe



❍ Octoroks
 ❏ Water Octorok
 
 ❏ Forest Octorok
 
 ❏ Rock Octorok


 ❏ Snow Octorok


 ❏ Treasure Octorok



❍ Bokoblins
 ❏ [Red] Bokoblin
 
 ❏ Blue Bokoblin
 
 ❏ Black Bokoblin


 ❏ Stalkoblin


 ❏ Silver Bokoblin


 ❏ Gold Bokoblin
Master Mode

❍ Moblins
 ❏ [Red] Moblin
 
 ❏ Blue Moblin
 
 ❏ Black Moblin


 ❏ Stalmoblin


 ❏ Silver Moblin


 ❏ Gold Moblin
Master Mode

❍ Lizalfos
 ❏ [Green] Lizalfos
 
 ❏ Blue Lizalfos
 
 ❏ Black Lizalfos


 ❏ Stalizalfos


 ❏ Fire-Breath Lizalfos


 ❏ Ice-Breath Lizalfos


 ❏ Silver Lizalfos


 ❏ Gold Lizalfos
Master Mode

❍ Yiga Clan
 ❏ Yiga Footsoldier
 
 ❏ Yiga Blademaster
 
 ❏ Master Kohiga



❍ Cursed Monsters
 ❏ Glowing Eyeball
 
 ❏ Cursed Bokoblin
 
 ❏ Cursed Moblin


 ❏ Cursed Lizalfos



❍ Guardians
 ❏ Guardian Stalker
 
 ❏ Guardian Skywatcher
 
 ❏ Guardian Turret


 ❏ Decayed Guardian


 ❏ Sentry


 ❏ Guardian Scout I


 ❏ Guardian Scout II


 ❏ Guardian Scout III


 ❏ Guardian Scout IV



❍ Talus
 ❏ Stone Talus
❏ Great Plateau Stone Talus
❏ Deya Lake Stone Talus
❏ West Nabi Lake Stone Talus
❏ North Dueling Peaks Stone Talus
❏ Dueling Peaks South Stone Talus
❏ North Mable Ridge Stone Talus
❏ Quince Stone Talus
❏ Ovli Plain Stone Talus
❏ Lake Floria Stone Talus
❏ Martha's Landing Stone Talus
❏ Gama Cove Stone Talus
 ❏ [Luminous] Stone Talus
❏ Lake Hylia North Stone Talus
❏ Lake Kolomo Stone Talus
❏ Mapla Point Stone Talus
❏ East Mount Granajh Stone Talus
❏ Champion's Gate North Stone Talus
❏ South Taafei Hill Stone Talus
❏ South Koukot Plateau Stone Talus
❏ Mount Nabooru Stone Talus
❏ Rutimala Hill Stone Talus
❏ Lake Hylia North Stone Talus
❏ Upland Lindor Stone Talus
❏ Southern Tal Tal Peak Stone Talus
❏ Crenel Hills Stone Talus
 ❏ [Rare] Stone Talus
❏ West Vatorsa Snowfield Stone Talus
❏ Illumeni Plateau Stone Talus
❏ Gisa Crater Stone Talus
❏ Kolami Bridge South Stone Talus
❏ Hyrule Castle West Stone Talus
❏ Hyrule Castle Underground Stone Talus
 ❏ Igneo Talus
❏ Gorko Lake Igneo Talus
❏ Darunia Lake Igneo Talus
❏ Lake Darman Igneo Talus
❏ Darb Pond Igneo Talus
❏ Goronbi Lake North Igneo Talus
 ❏ Frost Talus
❏ Laproah Mesa Frost Talus
❏ West Sapphia's Table Frost Talus
❏ West Rospro Pass Frost Talus
❏ Coldsnap Hollow Frost Talus
❏ Pikida Stonegrove Frost Talus
 ❏ Stone Pebblit


 ❏ Igneo Pebblit


 ❏ Frost Pebblit



❍ Hinox
 ❏ [Red] Hinox
❏ Kincean Island Hinox
❏ Phalian Highlands Hinox
❏ Purifier Lake Hinox
❏ West Loshlo Harbor Hinox
❏ Mount Taran Hinox
❏ Tibio's Hollow Hinox
❏ Kamah Plateau Hinox
 ❏ Blue Hinox
❏ Seres Scablands Blue Hinox
❏ West Hyrule Plains Blue Hinox
❏ North Hyrule Castle Blue Hinox
❏ Aldor Foothills Blue Hinox
❏ Thyphlo Ruins Blue Hinox
❏ Digdogg Suspension Bridge Blue Hinox
❏ South Akkala Tower Blue Hinox
❏ Talus Plateau Blue Hinox
❏ Ja'Abu Ridge Blue Hinox
❏ Ralis Pond Blue Hinox
❏ Applean Forest Blue Hinox
❏ East Ranch Ruins Blue Hinox
❏ Trotter's Downfall Blue Hinox
❏ Eventide Island Blue Hinox
❏ Mount Taran in Uten Marsh Blue Hinox
❏ Herin Lake Blue Hinox
 ❏ Black Hinox
❏ Lake Totori South Black Hinox
❏ Hebra West Summit Black Hinox
❏ Giant's Forest Black Hinox
❏ East Gut Check Rock Black Hinox
❏ Tempest Gulch Black Hinox
❏ Tabahi Woods Black Hinox
❏ Mount Taran in Rabella Wetlands Black Hinox
 ❏ Stalnox
❏ Icefall Foothills Stalnox
❏ Satori Mountain Stalnox
❏ Rowan Plain Stalnox
❏ East Akkala Plains Stalnox
❏ Hickaly Woods Stalnox
❏ North Aris Beach Stalnox
❏ Harfin Valley Stalnox
❏ Eastern Daval Peak Stalnox
❏ East Hyrule Castle Stalnox
❏ Hyrule Castle Underground Stalnox

❍ Molduga
 ❏ Molduga
❏ Southern Oasis Modulga
❏ Arbiter's Grounds Modulga
❏ Dragon's Exile Modulga
❏ Toruma Dunes Modulga

❍ Lynels
 ❏ [Red] Lynel
 
 ❏ Blue Lynel
 Note: On Master Mode this Lynel will become unavailable
 ❏ White-Maned Lynel


 ❏ Silver Lynel


 ❏ Gold Lynel
Master Mode

❍ Ganon
 ❏ Thunderblight Ganon
 
 ❏ Fireblight Ganon


 ❏ Waterblight Ganon


 ❏ Windblight Ganon


 ❏ Calamity Ganon


 ❏ Dark Beast Ganon




❍ Korok Seeds
 ❏ Stone Talus
 ❏ Opened
 Near Tabantha Tower
 ❏ Mija's Great Fairy Fountain
 ❏ Opened
 East of Akkala Tower
 ❏ Tera's Great Fairy Fountain
 ❏ Opened
 North of Kakariko Village
 ❏ Cotera's Great Fairy Fountain
 ❏ Opened
 Southwest of Gerudo Town



