article#guide {
  /* Color swatch */
  dl#swatches {
    dt {
      display: inline-block;
      width: 1rem;
      height: 1rem;  
      clear: left;
      float: left;
      border-top: 1px solid white;
      border-left: 1px solid gray;
      border-bottom: 1px solid black;
      border-right: 1px solid gray;
    }
    dd {

    }
  }
  
  p.note {
    margin-bottom: 0.5rem;
  }
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;

    &.collapsed {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  label {
    transition: 0.5s;
    border: 1px solid var(--cached-color);
    padding: 0.5rem;

    [type="checkbox"], [type="radio"] {
      opacity: 0;
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
    }
  }

  label:has(:checked) {
    transition: 0.75s;
    background-color: var(--fresh-color);
    color: var(--background-color);

    &.cached {
      background-color: var(--cached-color);
    }
  }

  li label:has([type="radio"]),
  li label:has([type="checkbox"]) {
    &.cached {
      border-color: var(--cached-color);
    }

    .hide-after-complete {
      display: inline;
      font-weight: normal;
    }
    .show-after-complete {
      display: none;
    }
    &:has(:checked) {
     .hide-after-complete {
       display: none;
     }
     .show-after-complete {
       display: inline;
     }
    }
  }

  /* Styles for when there are ranks that ascend */
  .levels {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    flex-direction: row;

    li:has(label) {
      flex: auto;
    }
    /* By default, don't display the "clear" option */
    li:has(> label[for*="_none"]) {
      display: none;
    }
    /* Show the "clear" option when any other option is checked */
    li:has(> label[for*="_none"]):has(~ li > label :checked) {
      display: inline-block;
      max-width: 50px;

      label {
        text-align: center;
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        font-weight: normal;
        background-color: var(--background-color);
        color: var(--text-color);
      }
    }
    /* When there's a "discover me" option, like with gear
       then make that full-width until it's checked */
    li:has(> label input[value="acquired"]),
    li:has(> label.full-width) {
      width: 100%;
    }
    li:has(> label input[value="acquired"]:checked),
    li:has(> label.full-width :checked),
    li:has(> label input[value="acquired"]):has(~ li > label :checked),
    li:has(> label.full-width):has(~ li > label :checked) {
      width: calc(100% - 50px);
    }
    li label {
      margin: 0;
    }

    li label:has([type="radio"]) {
      background-color: var(--fresh-color);
      color: var(--background-color);
      border-color: var(--fresh-color);
      padding: 0.5rem 1.25rem;

      &.cached {
        background-color: var(--cached-color);
        border-color: var(--cached-color);
      }
      .hide-until-available {
        display: none;
      }
      .hide-after-complete {
        display: none;
      }
      .show-after-complete {
        display: inline;
      }
    }
    
    li:has(~ li .cached) label {
      background-color: var(--cached-color);
      border-color: var(--cached-color);
    }

    li:has(> label :checked) ~ li label:has([type="radio"]) {
      border-color: var(--disallowed-color);
      color: var(--disallowed-color);
      background-color: var(--background-color);

      .hide-until-available {
        display: none;
      }
      .hide-after-complete {
        display: inline;
      }
      .show-after-complete {
        display: none;
      }
      .hide-when-checked {
        display: inline;
      }
    }

    li:has(> label [type="radio"]:checked) + li label:has([type="radio"]) {
      transition: 0.5s;
      color: var(--text-color);
      border-color: var(--text-color);
      background-color: var(--background-color);

      .hide-until-available {
        display: inline;
      }
      .hide-after-complete {
        display: inline;
      }
      .show-after-complete {
        display: none;
      }
      .hide-when-checked {
        display: none;
      }
    }

    li:has(label [type="radio"]:checked) {
      .hide-until-available {
        display: none;
      }
      .hide-after-complete {
        display: none;
      }
      .show-after-complete {
        display: inline;
      }
      .hide-when-checked {
        display: inline;
      }
    }
  }
}