article#guide {
  .c {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  p.note {
    margin-bottom: 0.5rem;
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;

    &.collapsed {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  label {
    transition: 0.5s;
    border: 1px solid var(--cached-color);
    padding: 0.5rem;

    [type="checkbox"], [type="radio"] {
      opacity: 0;
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
    }
  }

  label:has(:checked) {
    transition: 0.75s;
    background-color: var(--fresh-color);
    color: var(--background-color);

    &.cached {
      background-color: var(--cached-color);
    }
  }

  li label:has([type="radio"]),
  li label:has([type="checkbox"]) {
    &.cached {
      background-color: var(--cached-color);
      border-color: var(--cached-color);
    }

    .hide-after-complete {
      display: inline;
      font-weight: normal;
    }
    .show-after-complete {
      display: none;
    }
    &:has(:checked) {
     .hide-after-complete {
       display: none;
     }
     .show-after-complete {
       display: inline;
     }
    }
  }

  .levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--disallowed-color);

    li:has(label) {
      flex: auto;
    }
    li:has(> label[for*="_none"]) {
      display: none;
    }
    li:has(> label[for*="_none"]):has(~ li > label :checked) {
      display: inline-block;
      width: 50px;
      label {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        font-weight: normal;
        background-color: var(--background-color);
        color: var(--text-color);
      }
    }
    li:has(> label input[value="acquired"]) {
      width: 100%;
    }
    li:has(> label input[value="acquired"]:checked),
    li:has(> label input[value="acquired"]):has(~ li > label :checked) {
      width: calc(100% - 50px);
    }
    li label {
      margin: 0;
    }

    li label:has([type="radio"]) {
      background-color: var(--fresh-color);
      color: var(--background-color);
      border-color: var(--fresh-color);
      padding: 0.5rem 1.25rem;

      &.cached {
        background-color: var(--cached-color);
        border-color: var(--cached-color);
      }

      .hide-after-complete {
        display: none;
      }
      .show-after-complete {
        display: inline;
      }
    }

    li:has(> label :checked) ~ li label:has([type="radio"]) {
      border-color: var(--disallowed-color);
      color: var(--background-color);
      background-color: var(--disallowed-color);

      .hide-after-complete {
        display: none;
      }
      .show-after-complete {
        display: none;
      }
    }

    li:has(> label [type="radio"]:checked) + li label:has([type="radio"]) {
      transition: 0.5s;
      color: var(--text-color);
      border-color: var(--text-color);
      background-color: var(--background-color);

      .hide-after-complete {
        display: inline;
      }
      .show-after-complete {
        display: none;
      }
    }
  }

  .gear {
    margin: 0;
    padding: 0;

    li ol {
      margin-bottom: 1rem;


      li {
        input {
          display: none;
        }
        ul {
          font-weight: normal;
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }
    }
  }
}