/**
 * Lists
 */

article#guide {
  ul {
    list-style-type: none;

    li {
      // TODO: Remove
      /* & > input[type="checkbox"] {
        margin-right: 1rem;
      } */
    }

    &.inline {
      li {
        display: inline;
        float: left;
      }
    }
  }
}
