{% capture key_base %}bounties_{{ include.set }}{% endcapture %}
{% capture form_key %}bounties[{{ include.set }}]{% endcapture %}
{%  assign name = site.data.zelda_botw.bounties[include.set]['name'] %}
{% assign locations = site.data.zelda_botw.bounties[include.set]['locations'] %}

<ol class="bounty collapsed">
{% for location in locations %}
<li>
  <label for="{{ key_base }}_{{ forloop.index }}">
    <input id="{{ key_base }}_{{ forloop.index }}" type="checkbox" name="{{ form_key }}[{{ location[0] }}]" value="defeated" /> {{ location[1]['name'] }} {{ location[1]['location'] }} {{ location[1]['coordinates'] | join: ', ' }}
  </label>
</li>
{% endfor %}
</ol>