{% capture key_base %}great_fairy_fountains_{{ include.key }}_{% endcapture %}
{% capture form_key %}great_fairy_fountains[{{ include.key }}]{% endcapture %}

<h3>{{ include.data.name }}</h3>
<p>{{ include.data.location }}</p>

<ol class="levels">
  <li>
    <label for="{{ key_base }}none" class="cached">
      <input id="{{ key_base }}none" type="radio" name="{{ form_key }}" checked="true" />clear
    </label>
  </li>

  {% for level in include.data.levels %}
  <li>
    <label for="{{ key_base }}{{ level[0] }}">
      <input id="{{ key_base }}{{ level[0] }}" type="radio" name="{{ form_key }}" value="{{ level[0] }}" />
      <span class="hide-after-complete">{{ level[1].cost }}</span>
      <span class="show-after-complete">{% for i in (1..level[0]) %}★{% endfor %}</span>
    </label>
  </li>
  {% endfor %}
</ol>
