{% assign fountain = site.data.zelda_botw.great_fairy_fountains[include.fountain] %}

{% capture key_base %}great_fairy_fountains_{{ include.fountain }}_{% endcapture %}
{% capture form_key %}great_fairy_fountains[{{ include.fountain }}]{% endcapture %}

<h3>{{ fountain[1].name }}</h3>
<p>{{ fountain[1].location }}</p>

<ol class="levels">
  <li>
    <label for="great_fairy_fountains_{{ include.fountain }}_none" class="cached">
      <input id="great_fairy_fountains_{{ include.fountain }}_none" type="radio" name="great_fairy_fountains[{{ include.fountain }}]" checked="true" />clear
    </label>
  </li>

  {% for level in fountain[1].levels %}
  <li>
    <label for="great_fairy_fountains_{{ include.fountain }}_{{ level[0] }}">
      <input id="great_fairy_fountains_{{ include.fountain }}_{{ level[0] }}" type="radio" name="great_fairy_fountains[{{ include.fountain }}]" value="{{ level[0] }}" />
      <span class="hide-after-complete">{{ level[1].cost }}</span>
      <span class="show-after-complete">{% for i in (1..level[0]) %}{{ "★" }}{% endfor %}
    </span>
    </label>
  </li>
  {% endfor %}
</ol>