{% capture key_base %}gear_{{ include.set }}_{{ include.part }}{% endcapture %}
{% capture form_key %}gear[{{ include.set }}][{{ include.part }}]{% endcapture %}
{% if site.data.zelda_botw['gear'][include.set][include.part]['levels'][include.index]['name'] %}
{% assign name = site.data.zelda_botw['gear'][include.set][include.part]['levels'][include.index]['name'] %}
{%  else %}
{%  assign name = site.data.zelda_botw['gear'][include.set][include.part]['name'] %}
{% endif %}
{% assign costs = site.data.zelda_botw['gear'][include.set][include.part]['levels'][include.index]['cost'] %}
{% assign location = site.data.zelda_botw['gear'][include.set][include.part]['levels'][include.index]['location'] %}
{% assign gear_count = site.data.zelda_botw['gear'][include.set][include.part]['levels'] | size %}
{% if gear_count > 1 %}
{% assign list_type = 'radio' %}
{% else %}
{% assign list_type = 'checkbox' %}
{% endif %}

<label for="{{ key_base }}_{{ include.index }}">
  <input id="{{ key_base }}_{{ include.index }}" type="{{ list_type }}" name="{{ form_key }}" value="{{ include.index }}" />{{ name }}
  <span class="show-after-complete"></span>
  {% if costs or location %}
  <ul class="hide-until-available">
    {% if location %}
    <li>{{ location }}</li>
    {% endif %}
    {% for cost in costs %}
    <li>{{ cost }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</label>