{% capture key_base %}shrines_{{ include.target }}{% endcapture %}
{% capture form_key %}shrines[{{ include.target }}]{% endcapture %}

{% assign name = include.shrine['name'] %}
{% assign treasure = include.shrine['treasure'] %}
{% assign location = include.shrine['location'] %}
{% assign quest = include.shrine['quest'] %}
{% if include.shrine['coordinates'] %}
{% capture coords %}({{include.shrine['coordinates'] | join: ', ' }}){% endcapture %}
{% else %}
{% assign coords = '' %}
{% endif %}

<ol class="levels">
  <li>
    <label for="{{ key_base }}_status" class="full-width {{ include.shrine['type'] }}">
      <input id="{{ key_base }}_status" type="radio" name="{{ form_key }}[status]" value="" checked="true" />
      <span>{{ name }}</span>
      <span class="hide-when-checked">(Reset)</span>
    </label>
  </li>
  <li>
    <label for="{{ key_base }}_status_discovered" class="">
      <input id="{{ key_base }}_status_discovered" type="radio" name="{{ form_key }}[status]" value="discovered" />
      <span class="hide-after-complete">🔲 {{ location }} {{ coords }}</span>
      <span class="show-after-complete">☑️ <em>Discovered!</em></span>
    </label>
  </li>
  <li>
    <label for="{{ key_base }}_status_completed">
      <input id="{{ key_base }}_status_completed" type="radio" name="{{ form_key }}[status]" value="completed" />
      {% if include.shrine['type'] == 'puzzle' %}
        {% assign action_text = "Solve shrine puzzle" %}
      {% else if include.shrine['type'] == 'outdoor' %}
        {% assign action_text = "Solve outdoor puzzle" %}
      {% else if include.shrine['type'] == 'crystal' %}
        {% assign action_text = "Carry crystal to shrine" %}
      {% else if include.shrine['type'] == 'combat' %}
        {% assign action_text = "Proving grounds" %}
      {% endif %}
      <span class="hide-after-complete">🔲  {{ action_text }}</span>
      <span class="show-after-complete">✅ Completed!</span>
    </label>
    </li>
  </ol>
  <ol class="treasure">
    {% for item in treasure %}
    <li>
    <label for="{{ key_base }}_treasure_{{ forloop.index }}">
      <input id="{{ key_base }}_treasure_{{ forloop.index }}" type="checkbox" name="{{ form_key }}[treasure][{{ forloop.index }}]" value="acquired" />
      <span class="hide-after-complete">🔲 {{ item }}</span>
      <span class="show-after-complete">✅ <s>{{ item }}</s></span>

    </label>
    </li>
    {% endfor %}
  </ol>