---
layout: guide
title: Enemy Skill
game: ffvii
section: enemy_skill
published: true
metadata:
  last_updated: 05-03-2026
---

<ol class="collapsed" data-list="enemy_skill">
  {% for enemy_skill in site.data.ffvii.enemy_skill %}
    {% assign key = enemy_skill[0] %}
    {% assign skill = enemy_skill[1] %}
    {% assign name = skill.name %}
    {% assign enemies = skill.enemies %}
    {% if skill.missable %}
    {%   assign missable="missable" %}
    {% else %}
    {%   assign missable=nil %}
    {% endif %}
    <li class="{{ missable }}">
      <label for="enemy_skill_{{ key }}"><input id="enemy_skill_{{ key }}" type="checkbox" name="{{ key }}" /> <span class="skill-name">{{ name }}</span>
        <ul class="hide-after-complete">
          {% for enemy in enemies %}
            {% if enemy.manipulation %}
              {% assign manipulation = "manipulated" %}
            {% else %}
              {% assign manipulation = nil %}
            {% endif %}
            <li class="{{ manipulation }}"><strong>{{ enemy.name }}</strong>, {{ enemy.location }} {{ enemy.note }}</li>
          {% endfor %}
        </ul>
      </label>
    </li>
  {% endfor %}
</ol>