---
layout: guide
title:  Materia
game: ffvii
section: materia
metadata:
  last_updated: 05-03-2026
---

<details>
  <summary>Magic</summary>
{% for materia in site.data.ffvii.materia['magic'] %}
  {% include ffvii/materia.html materia_type="magic" materia=materia %}
{% endfor %}
</details>

<details>
  <summary>Summon</summary>
{% for materia in site.data.ffvii.materia['summon'] %}
  {% include ffvii/materia.html materia_type="summon" materia=materia %}
{% endfor %}
</details>

<detauls>
  <summary>Command</summary>

{% for materia in site.data.ffvii.materia['command'] %}
  {% include ffvii/materia.html materia_type="command" materia=materia %}
{% endfor %}
</detauls>

<details>
  <summary>Independent</summary>

{% for materia in site.data.ffvii.materia['independent'] %}
  {% include ffvii/materia.html materia_type="independent" materia=materia %}
{% endfor %}
</details>

<details>
<summary>Support</summary>

{% for materia in site.data.ffvii.materia['support'] %}
  {% include ffvii/materia.html materia_type="support" materia=materia %}
{% endfor %}
</details>