body[data-game="secret_of_mana"] {
  --color-spring-green: #2ae66d;
  --color-dark-slate-blue: #281a87;
  --color-lawn-green: #9dcc00;
  --color-light-salmon: #f6d064;
  --color-dodger-blue: #4969f3;
  --color-hot-pink: #f349be;

  --fresh-color: var(--color-spring-green);
  --cached-color: var(--color-light-salmon);
  --disallowed-color: var(--color-hot-pink);

  @media (prefers-color-scheme: dark) {
    --background-color: var(--color-warm-black);
    --text-color: var(--color-off-white);
    --link-color: var(--color-light-salmon);
  }
  @media (prefers-color-scheme: light) {
    background-color: var(--color-light-salmon);
    text-color: var(--color-warm-black);
    link-color: var(--color-dodger-blue);
  }

  & {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  a {
    color: var(--link-color);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-light-salmon);
  }
  #guide-nav {
    margin: 0 auto;

    ol {
      li {
        background-color: var(--color-dark-slate-blue);

        &:hover {
          background-color: var(--color-dodger-blue);
        }
        a {
          color: var(--color-light-salmon);
        }
      }
    }
  }

  #guide {
    .levels {
      flex-wrap: wrap;
      width: 100%;

      li label:has([type="radio"]) {
        padding: 0;
      }
      & > li, & > li label {
        max-width: 30px;
      }
      & > li:has(:checked) + li,
      & > li:has(:checked) + li label {
        max-width: 200px;
      }
      & > li:has(:checked) + li {
        order: 1;
        flex-grow: 100%;
      }
      & > li:has(:checked) + li label {
        padding: 0.5rem;
      }
       /* Show the "clear" option when any other option is checked */
      li:has(> label[for*="_none"]):has(~ li > label :checked) {
        max-width: 50px;
        label {
          text-align: center;
          max-width: 50px;
        }
      }
      li .hide-until-available {
        font-weight: bold;
        li {
          font-weight: normal;
        }
      }
    }
  }
}