body[data-game="secret_of_mana"] {
  --color-spring-green: #2ae66d;
  --color-dark-slate-blue: #281a87;
  --color-lawn-green: #9dcc00;
  --color-light-salmon: #f6d064;
  --color-dodger-blue: #4969f3;
  --color-hot-pink: #f349be;

  --fresh-color: var(--color-spring-green);
  --cached-color: var(--color-light-salmon);
  --disallowed-color: var(--color-hot-pink);

  @media (prefers-color-scheme: dark) {
    --background-color: var(--color-dark-slate-blue);
    --text-color: var(--color-light-salmon);
    --link-color: var(--color-spring-green);
  }
  @media (prefers-color-scheme: light) {
    background-color: var(--color-light-salmon);
    text-color: var(--color-dark-slate-blue);
    link-color: var(--color-dodger-blue);
  }

  & {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  a {
    color: var(--link-color);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-dodger-blue);
  }
  #guide-nav {
    margin: 0 auto;

    ol {
      li {
        background-color: var(--color-light-salmon);

        &:hover {
          background-color: var(--color-spring-green);
        }
        a {
          color: var(--color-spring-green);
        }
      }
    }
  }
}