:root {
  --color-hunter-green: #536f50;
  --color-gray-dark: #767676;
  --color-slate-blue: #86a5a9;
  --color-mint-green: #92c582;
  --color-cream: #fdffe0;
  --color-rust: #b94117;
  --color-cheese: #ffd372;
  --color-taupe: #d7d1b9;
  --color-gray: #959595;
  --color-dark-slate: #2e3b4b;
}
body[data-game="zelda_botw"] {
  --background-color: var(--color-cream);
  --text-color: var(--color-hunter-green);
  --link-color: var(--color-rust);

  @media (prefers-color-scheme: dark) {
    --background-color: var(--color-dark-slate);
    --text-color: var(--color-cheese);
    --link-color: var(--color-slate-blue);
    --cached-color: var(--color-gray);
    --fresh-color: var(--color-mint-green);
    --disallowed-color: var(--color-rust);
  }
  @media (prefers-color-scheme: light) {
    --background-color: var(--color-cream);
    --text-color: var(--color-hunter-green);
    --link-color: var(--color-rust);
    --cached-color: var(--color-hunter-green);
    --fresh-color: var(--color-mint-green);
    --disallowed-color: var(--color-rust);
  }

  & {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  a {
    color: var(--link-color);
  }
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
  #guide-nav {
    margin: 0 auto;

    ol {
      li {
        background-color: var(--color-hunter-green);

        &:hover {
          background-color: var(--color-mint-green);
        }
        a {
          color: var(--color-cream);  

          &:hover {
            color: var(--color-hunter-green);
          }
        }
        
      }
    }
  }

  article#guide {
    ol.shrines {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
    }
    .shrines {
      ol.levels {
        li:first-of-type {
          &:has(:checked) label .hide-when-checked {
            display: none;
          }
          &:has(~ li :checked) label .hide-when-checked {
            display: inline;
          }
        }
        li:has(label [value="completed"]),
        li:has(label [value="discovered"]) {
          display: none;
        }
        li:has(label [value=""]:checked) + li:has(label [value="discovered"]),
        li:has(label [value="discovered"]:checked) {
          display: block;
        }
        li:has(label [value="discovered"]:checked) + li:has(label [value="completed"]),
        li:has(label [value="completed"]:checked) {
          display: block;
        }
      }
      .treasure {
        display: none;
      }
      ol:has(li label [value="discovered"]:checked) ~ .treasure,
      ol:has(li label [value="completed"]:checked) ~ .treasure {
        display: block;
      }
      & > li {
        border-radius: 4px;
        border: 1px solid var(--text-color);
        border-left: 2px solid;
        margin-bottom: 1rem;
        flex-basis: 49%;
        margin-right: 1%;
      }
      .puzzle {
        background-color: var(--color-slate-blue) !important;
      }
      .outdoor {
        background-color: var(--color-hunter-green) !important;
        color: var(--color-cream);
      }
      .combat {
        background-color: var(--color-rust) !important;
        color: var(--color-taupe);
      }
      li:has(.puzzle) {
        border-color: var(--color-slate-blue);
      }
      li:has(.outdoor) {
        border-color: var(--color-hunter-green);
      }
      li:has(.combat) {
        border-color: var(--color-rust);
      }
      label {
        border: none;
        margin: 0;
      }
    }

    .gear {
        margin: 0;
        padding: 0;

        li ol {
          margin-bottom: 1rem;


          li {
            input {
              display: none;
            }
            ul {
              font-weight: normal;
              margin: 0;
              padding: 0;
              list-style: none;
            }
          }
        }
      }
  }
}